:root{
    --accent-color-light:#F7F7F7;
    --accent-color-dark:#121212;
    --background-color-light:#F7F7F7 ;
    --background-color-dark:#121212 ;
    --title-color-light:#F7F7F7;
    --title-color-dark:#121212;
    --text-color-light:#F7F7F7;
    --text-color-dark:#121212;
    --font-family: sans-serif;
}