<section class="amenities">

  <h1 class="visually-hidden">amenities</h1>

  <h2 class="amenities-title">General Amenities & Facilities:</h2>
  <ul class="amenties-list">
    <li class="amenties-item">24-hour front desk service</li>
    <li class="amenties-item">Daily housekeeping</li>
    <li class="amenties-item">Free Wi-Fi throughout the hotel</li>
    <li class="amenties-item">Elevator access</li>
    <li class="amenties-item">Luggage storage</li>
    <li class="amenties-item">Non-smoking rooms available</li>
    <li class="amenties-item">Meeting rooms for business and events</li>
    <li class="amenties-item">On-site parking (surcharge)</li>
    <li class="amenties-item">Concierge services</li>
  </ul>

  <h2 class="amenities-title">Bathroom:</h2>
  <ul class="amenties-list">
    <li class="amenties-item">Private bathroom with shower</li>
    <li class="amenties-item">Complimentary toiletries</li>
    <li class="amenties-item">Hair dryer</li>
    <li class="amenties-item">Fresh towels daily</li>
    <li class="amenties-item">Deluxe bathrobes (in some room categories)</li>
  </ul>


  <h2 class="amenities-title">Bedroom:</h2>
  <ul class="amenties-list">
    <li class="amenties-item">Comfortable beds with high-quality linens</li>
    <li class="amenties-item">Blackout curtains</li>
    <li class="amenties-item">Climate control (air conditioning and heating)</li>
    <li class="amenties-item">Safe for valuables</li>
    <li class="amenties-item">Writing desk and chair</li>
    <li class="amenties-item">Flat-screen TV with cable channels</li>
  </ul>

  <h2 class="amenities-title">Kitchen:</h2>
  <ul class="amenties-list">
    <li class="amenties-item">In-room kitchenette (in some room categories)</li>
    <li class="amenties-item">Refrigerator</li>
    <li class="amenties-item">Microwave</li>
    <li class="amenties-item">Electric kettle</li>
    <li class="amenties-item">Cooking utensils and cutlery</li>
    <li class="amenties-item">Dining table and chairs</li>
  </ul>

  <h2 class="amenities-title">Media:</h2>
  <ul class="amenties-list">
    <li class="amenties-item">Flat-screen TV with cable channels</li>
    <li class="amenties-item">High-speed Wi-Fi</li>
    <li class="amenties-item">iPod docking station</li>
    <li class="amenties-item">Speaker system</li>
    <li class="amenties-item">Electrical outlets for charging devices.</li>
  </ul>

  <picture>
    <source srcset="./img/page-room/amenities/mobile/amenties-mob-1-1x-min.jpg 1x, 
                    ./img/page-room/amenities/mobile/amenties-mob-1-2x-min.jpg 2x" media="(max-width: 767px)">
    <source srcset="./img/page-room/amenities/tablet/amenties-tab-1-1x-min.jpg 1x,
                    ./img/page-room/amenities/tablet/amenties-tab-1-2x-min.jpg 2x"
      media="(min-width: 768px) and (max-width: 1339px)">
    <source srcset="./img/page-room/amenities/desktop/amenties-des-1-1x-min.jpg 1x,
                    ./img/page-room/amenities/desktop/amenties-des-1-2x-min.jpg 2x" media="(min-width: 1440px)">

    <img src="./img/page-room/amenities/desktop/amenties-des-1-1x-min.jpg" alt="amenities">
  </picture>

  <picture>
    <source srcset="./img/page-room/amenities/mobile/amenties-mob-2-1x-min.jpg 1x, 
                    ./img/page-room/amenities/mobile/amenties-mob-2-2x-min.jpg 2x" media="(max-width: 767px)">
    <source srcset="./img/page-room/amenities/tablet/amenties-tab-2-1x-min.jpg 1x,
                    ./img/page-room/amenities/tablet/amenties-tab-2-2x-min.jpg 2x"
      media="(min-width: 768px) and (max-width: 1339px)">
    <source srcset="./img/page-room/amenities/desktop/amenties-des-2-1x-min.jpg 1x,
                    ./img/page-room/amenities/desktop/amenties-des-2-2x-min.jpg 2x" media="(min-width: 1440px)">

    <img src="./img/page-room/amenities/desktop/amenties-des-2-1x-min.jpg" alt="amenities">
  </picture>

  <button class="amenities-button" type="button">book a room</button>


</section>