<header class="header" id="header">
  <div class="container header-items">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./hotel.html">Hotel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./restaurant.html">Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./room.html">Room(Тимчасово)</a>
        </li>
      </ul>
    </nav>

    <svg class="btns-mobile-menu" data-menu-button width="28" height="28">
        <use class="btn-burger" href="./img/icons/sprite.svg#btn-burger-menu"></use>
        <use class="btn-close" href="./img/icons/sprite.svg#close-x"></use>
      </svg>

    <a class="logo" href="./index.html">
      <span class="logo-top">Mimino</span>
      <span class="logo-bottom">restaurant-hotel complex</span>
    </a>

    <ul class="socials-list">
      <li class="socials-item">
        <a
          class="socials-link"
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.instagram.com/"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.facebook.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://twitter.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/icons/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
