<section class="hero section" id="hero">
  <div class="container hero-content">

    <div class="hero-container">
      <div class="hero-box">

        <h1 class="hero-title-room animate__animated animate__fadeInDown">DOUBLE <span
            class="hero-decoration">LUXURY</span> ROOM</h1>
        <button class="hero-button animate__animated animate__bounceIn animate__delay-1s" type="button">view
          prices</button>
      </div>



      <div class="slider slider-container">

        <div class="slider-box">
          <picture>

            <source srcset="
            ./img/page-room/hero-slider/desktop/hero-slider-rest-des-1-1x-min.jpg 1x,
            ./img/page-room/hero-slider/desktop/hero-slider-rest-des-1-2x-min.jpg 2x" media="(min-width: 1440px)">


            <source srcset="
             ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-1-1x-min.jpg 1x,
             ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-1-2x-min.jpg 2x" media="(min-width: 768px)">


            <img src="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-1-1x-min.jpg" alt="slider"
              srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-1-2x-min.jpg 2x">

          </picture>
        </div>

        <div class="slider-box">
          <picture>

            <source srcset="
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-2-1x-min.jpg 1x,
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-2-2x-min.jpg 2x"
              media="(min-width: 1440px)">


            <source srcset="
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-2-1x-min.jpg 1x,
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-2-2x-min.jpg 2x"
              media="(min-width: 768px)">


            <img src="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-2-1x-min.jpg" alt="slider"
              srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-2-2x-min.jpg 2x">

          </picture>
        </div>

        <div class="slider-box">
          <picture>

            <source srcset="
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-3-1x-min.jpg 1x,
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-3-2x-min.jpg 2x"
              media="(min-width: 1440px)">


            <source srcset="
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-3-1x-min.jpg 1x,
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-3-2x-min.jpg 2x"
              media="(min-width: 768px)">


            <img src="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-3-1x-min.jpg" alt="slider"
              srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-3-2x-min.jpg 2x">

          </picture>
        </div>

        <div class="slider-box">
          <picture>

            <source srcset="
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-4-1x-min.jpg 1x,
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-4-2x-min.jpg 2x"
              media="(min-width: 1440px)">


            <source srcset="
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-4-1x-min.jpg 1x,
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-4-2x-min.jpg 2x"
              media="(min-width: 768px)">


            <img src="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-4-1x-min.jpg" alt="slider"
              srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-4-2x-min.jpg 2x">

          </picture>
        </div>

        <div class="slider-box">
          <picture>

            <source srcset="
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-5-1x-min.jpg 1x,
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-5-2x-min.jpg 2x"
              media="(min-width: 1440px)">


            <source srcset="
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-5-1x-min.jpg 1x,
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-5-2x-min.jpg 2x"
              media="(min-width: 768px)">


            <img src="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-5-1x-min.jpg" alt="slider"
              srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-5-2x-min.jpg 2x">

          </picture>
        </div>

        <div class="slider-box">
          <picture>

            <source srcset="
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-6-1x-min.jpg 1x,
                      ./img/page-room/hero-slider/desktop/hero-slider-rest-des-6-2x-min.jpg 2x"
              media="(min-width: 1440px)">


            <source srcset="
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-6-1x-min.jpg 1x,
                       ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-6-2x-min.jpg 2x"
              media="(min-width: 768px)">


            <img src="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-6-1x-min.jpg" alt="slider"
              srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-6-2x-min.jpg 2x">

          </picture>
        </div>
      </div>

      <div class="slider-btn-wrap">
        <button type="button" class="slider-btn-prev">
          <svg class="slider-btn-icon" width="12" height="12">
            <use href="./img/icons/sprite.svg#button-left"></use>
          </svg>

        </button>

        <button type="button" class="slider-btn-next">
          <svg class="slider-btn-icon" width="12" height="12">
            <use href="./img/icons/sprite.svg#button-right"></use>
          </svg>
        </button>

      </div>
    </div>




    <p class="hero-text">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for
      a comfortable stay.</p>
  </div>


</section>