<section class="hero" id="hero">

  <h1 class="hero-title">DOUBLE LUXURY ROOM</h1>

  <button class="hero-button" type="button">view prices</button>

  <picture>
    <source srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-1-1x-min.jpg 1x, 
                    ./img/page-room/hero-slider/mobile/hero-slider-rest-mob-1-2x-min.jpg 2x"
      media="(max-width: 767px)">
    <source srcset="./img/page-room/hero-slider/tablet/hero-slider-rest-tab-1-1x-min.jpg 1x,
                    ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-1-2x-min.jpg 2x"
      media="(min-width: 768px) and (max-width: 1339px)">
    <source srcset="./img/page-room/hero-slider/desktop/hero-slider-rest-des-1-1x-min.jpg 1x,
                    ./img/page-room/hero-slider/desktop/hero-slider-rest-des-1-2x-min.jpg 2x"
      media="(min-width: 1440px)">

    <img src="./img/page-room/hero-slider/desktop/hero-slider-rest-des-1-1x-min.jpg" alt="slider">
  </picture>

  <picture>
    <source srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-2-1x-min.jpg 1x, 
                        ./img/page-room/hero-slider/mobile/hero-slider-rest-mob-2-2x-min.jpg 2x"
      media="(max-width: 767px)">
    <source srcset="./img/page-room/hero-slider/tablet/hero-slider-rest-tab-2-1x-min.jpg 1x,
                        ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-2-2x-min.jpg 2x"
      media="(min-width: 768px) and (max-width: 1339px)">
    <source srcset="./img/page-room/hero-slider/desktop/hero-slider-rest-des-2-1x-min.jpg 1x,
                        ./img/page-room/hero-slider/desktop/hero-slider-rest-des-2-2x-min.jpg 2x"
      media="(min-width: 1440px)">

    <img src="./img/page-room/hero-slider/desktop/hero-slider-rest-des-2-1x-min.jpg" alt="slider">
  </picture>

  <picture>
    <source srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-3-1x-min.jpg 1x, 
                          ./img/page-room/hero-slider/mobile/hero-slider-rest-mob-3-2x-min.jpg 2x"
      media="(max-width: 767px)">
    <source srcset="./img/page-room/hero-slider/tablet/hero-slider-rest-tab-3-1x-min.jpg 1x,
                          ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-3-2x-min.jpg 2x"
      media="(min-width: 768px) and (max-width: 1339px)">
    <source srcset="./img/page-room/hero-slider/desktop/hero-slider-rest-des-3-1x-min.jpg 1x,
                          ./img/page-room/hero-slider/desktop/hero-slider-rest-des-3-2x-min.jpg 2x"
      media="(min-width: 1440px)">

    <img src="./img/page-room/hero-slider/desktop/hero-slider-rest-des-3-1x-min.jpg" alt="slider">
  </picture>

  <picture>
    <source srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-4-1x-min.jpg 1x, 
                            ./img/page-room/hero-slider/mobile/hero-slider-rest-mob-4-2x-min.jpg 2x"
      media="(max-width: 767px)">
    <source srcset="./img/page-room/hero-slider/tablet/hero-slider-rest-tab-4-1x-min.jpg 1x,
                            ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-4-2x-min.jpg 2x"
      media="(min-width: 768px) and (max-width: 1339px)">
    <source srcset="./img/page-room/hero-slider/desktop/hero-slider-rest-des-4-1x-min.jpg 1x,
                            ./img/page-room/hero-slider/desktop/hero-slider-rest-des-4-2x-min.jpg 2x"
      media="(min-width: 1440px)">

    <img src="./img/page-room/hero-slider/desktop/hero-slider-rest-des-4-1x-min.jpg" alt="slider">
  </picture>

  <picture>
    <source srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-5-1x-min.jpg 1x, 
                              ./img/page-room/hero-slider/mobile/hero-slider-rest-mob-5-2x-min.jpg 2x"
      media="(max-width: 767px)">
    <source srcset="./img/page-room/hero-slider/tablet/hero-slider-rest-tab-5-1x-min.jpg 1x,
                              ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-5-2x-min.jpg 2x"
      media="(min-width: 768px) and (max-width: 1339px)">
    <source srcset="./img/page-room/hero-slider/desktop/hero-slider-rest-des-5-1x-min.jpg 1x,
                              ./img/page-room/hero-slider/desktop/hero-slider-rest-des-5-2x-min.jpg 2x"
      media="(min-width: 1440px)">

    <img src="./img/page-room/hero-slider/desktop/hero-slider-rest-des-5-1x-min.jpg" alt="slider">
  </picture>

  <picture>
    <source srcset="./img/page-room/hero-slider/mobile/hero-slider-rest-mob-6-1x-min.jpg 1x, 
                                ./img/page-room/hero-slider/mobile/hero-slider-rest-mob-6-2x-min.jpg 2x"
      media="(max-width: 767px)">
    <source srcset="./img/page-room/hero-slider/tablet/hero-slider-rest-tab-6-1x-min.jpg 1x,
                                ./img/page-room/hero-slider/tablet/hero-slider-rest-tab-6-2x-min.jpg 2x"
      media="(min-width: 768px) and (max-width: 1339px)">
    <source srcset="./img/page-room/hero-slider/desktop/hero-slider-rest-des-6-1x-min.jpg 1x,
                                ./img/page-room/hero-slider/desktop/hero-slider-rest-des-6-2x-min.jpg 2x"
      media="(min-width: 1440px)">

    <img src="./img/page-room/hero-slider/desktop/hero-slider-rest-des-6-1x-min.jpg" alt="slider">
  </picture>

  <p class="hero-text">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a
    comfortable stay.</p>

</section>