/* Book a table modal */

.book-table-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 24px;
  width: 335px;
  height: 528px;
  transform: translate(-50%, -50%) scaleY(1);
  opacity: 1;
  background-color: var(--background-color-dark);
  border-radius: 2px;
}

.book-a-table-modal-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.book-a-table-modal-label {
  display: block;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  color: var(--text-color-modal);
}

@media screen and (min-width: 768px) {
  .book-table-modal {
    min-width: 628px;
    max-height: 476px;
    padding-bottom: 60px;
  }

  .book-a-table-modal-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    margin-bottom: 80px;
  }

  .book-a-table-modal-item {
    flex-basis: calc((100% - 32px) / 2);
  }

}

.book-a-table-modal-input {
  width: 100%;
  height: 36px;
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 18px;
  margin-bottom: 8px;

  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
  color: var(--accent-color-light);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.book-a-table-modal-input::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--accent-color-light);
}

.book-a-table-modal-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  display: block;
  width: 100%;
  height: 36px;
  margin-bottom: 8px;
  padding-bottom: 18px;

  outline: none;
  border: none;
  border-bottom: 0.8px solid rgba(247, 247, 247, 0.2);
  background-color: transparent;
  color: var(--accent-color-light);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.book-a-table-modal-select {
  background-color: var(--background-color-dark);
}

.book-a-table-modal-select.fix-margin {
   margin-bottom: 0;
}