.techical-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 24px;
  width: 335px;
  height: 528px;
  transform: translate(-50%, -50%) scaleY(1);
  opacity: 1;
  background-color: var(--background-color-dark);
  border-radius: 2px;
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic);
}

.backdrop.is-hidden .techical-modal {
  transform: translate(-50%, -50%) scaleY(0);
  opacity: 0;
}

.techical-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.36;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 40px;

  color: var(--accent-color-light);
}

.techical-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--accent-color-light);
}

@media screen and (min-width: 768px) {
  .techical-modal {
    min-width: 628px;
    max-height: 476px;
    padding-bottom: 60px;
  }

  .techical-title {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 60px;
  }

  .techical-text {
    font-size: 18px;
    line-height: 1.33;
  }
}
