/* welcome */

.welcome-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--accent-color-dark);
  margin-bottom: 32px;
  width: 335px;
}
.welcome-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--accent-color-dark);
  margin-bottom: 32px;
  width: 306px;
}
.second {
  width: 335px;
}
@media screen and (min-width: 768px) {
  .welcome-list {
    display: flex;
  }
  .welcome-item:not(:last-child) {
    margin-right: 32px;
  }
  .welcome-title {
    width: 434px;
  }
  .second {
    width: 366px;
  }
}
@media screen and (min-width: 1440px) {
  .welcome-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .picture {
    margin-right: 32px;
  }
  .welcome-item {
    width: 437px;
    margin-bottom: 0px;
  }
  .second {
    width: 437px;
  }
  .welcome-list {
    flex-direction: column;
    row-gap: 24px;
  }

  .welcome-item:not(:last-child) {
    margin-right: 0px;
  }

  .welcome-title {
    margin-bottom: 310px;
  }
}
