/* <!-- about --> */
.about-a-kitchen {
  padding: 64px 0;
}

.about-a-kitchen-main-img {
  margin-bottom: 20px;
}

.about-kitchen-list {
  display: flex;
  gap: 20px;
}

.about-kitchen-text-list {
  margin-top: 32px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.about-kitchen-text-item {
  font-size: 14px;
  line-height: 1, 29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
