<!-- about -->
<section class="about-a-kitchen">
  <h2 class="visually-hidden">About a kitchen</h2>
  <div class="container block-about-a-kitchen">
    <div class="block-pictures-about-kitchen">
      <div class="about-a-kitchen-main-img">
        <picture>
          <source
            srcset="
              ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-1-1x-min.jpg 1x,
              ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-1-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-1-1x-min.jpg 1x,
              ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-1-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            srcset="
              ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-1-1x-min.jpg 1x,
              ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-1-2x-min.jpg 2x
            "
            src="./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-1-1x-min.jpg"
            alt="about-a-kitchen-1"
          />
        </picture>
      </div>

      <ul class="about-kitchen-list">
        <li class="about-kitchen-item">
          <picture>
            <source
              srcset="
                ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-2-1x-min.jpg 1x,
                ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-2-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />

            <source
              srcset="
                ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-2-1x-min.jpg 1x,
                ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-2-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />

            <img
              srcset="
                ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-2-1x-min.jpg 1x,
                ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-2-2x-min.jpg 2x
              "
              src="./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-2-1x-min.jpg"
              alt="about-a-kitchen-1"
            />
          </picture>
        </li>
        <li class="about-kitchen-item">
          <picture>
            <source
              srcset="
                ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-3-1x-min.jpg 1x,
                ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-3-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />

            <source
              srcset="
                ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-3-1x-min.jpg 1x,
                ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-3-2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />

            <img
              srcset="
                ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-3-1x-min.jpg 1x,
                ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-3-2x-min.jpg 2x
              "
              src="./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-3-1x-min.jpg"
              alt="about-a-kitchen-1"
            />
          </picture>
        </li>
      </ul>
    </div>
    <ul class="about-kitchen-text-list">
      <li class="about-kitchen-text-item">
        <p class="about-kitchen-text">
          At Mimino, we are experts in
          <span class="italic-text">meat preparation.</span> Our chefs use only
          the finest and freshest ingredients to
          <span class="italic-text">create delicious dishes</span> that showcase
          the flavors of premium cuts of meat.
        </p>
      </li>
      <li class="about-kitchen-text-item">
        <p class="about-kitchen-text">
          Our <span class="italic-text">slow-cooking process</span> and expert
          seasoning bring out the best in each dish, making for an unforgettable
          dining experience. Come taste the magic
          <span class="italic-text">of meat preparation at</span> Mimino.
        </p>
      </li>
    </ul>
  </div>
</section>
