<!-- about -->
<section class="about-a-kitchen">
  <h2 class="visually-hidden">About a kitchen</h2>
  <div class="container">
    <picture>
      <source
        srcset="
          ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-1-1x-min.jpg 1x,
          ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-1-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />

      <source
        srcset="
          ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-1-1x-min.jpg 1x,
          ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-1-2x-min.jpg 2x
        "
        media="(min-width:768px)"
      />

      <img
        class="about-a-kitchen-main-img"
        srcset="
          ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-1-1x-min.jpg 1x,
          ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-1-2x-min.jpg 2x
        "
        src="./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-1-1x-min.jpg"
        alt="about-a-kitchen-1"
      />
    </picture>
    <ul class="about-kitchen-list">
      <li class="about-kitchen-item">
        <picture>
          <source
            srcset="
              ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-2-1x-min.jpg 1x,
              ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-2-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-2-1x-min.jpg 1x,
              ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-2-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            srcset="
              ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-2-1x-min.jpg 1x,
              ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-2-2x-min.jpg 2x
            "
            src="./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-2-1x-min.jpg"
            alt="about-a-kitchen-1"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-3-1x-min.jpg 1x,
              ./img/page-restaurant/about-a-kitchen/desktop/about-rest-des-3-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-3-1x-min.jpg 1x,
              ./img/page-restaurant/about-a-kitchen/tablet/about-rest-tab-3-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            srcset="
              ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-3-1x-min.jpg 1x,
              ./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-3-2x-min.jpg 2x
            "
            src="./img/page-restaurant/about-a-kitchen/mobile/about-rest-mob-3-1x-min.jpg"
            alt="about-a-kitchen-1"
          />
        </picture>
      </li>
    </ul>

    <ul class="about-kitchen-text-list">
      <li class="about-kitchen-text-item">
        At Mimino, we are experts in meat preparation. Our chefs use only the
        finest and freshest ingredients to create delicious dishes that showcase
        the flavors of premium cuts of meat.
      </li>
      <li class="about-kitchen-text-item">
        Our slow-cooking process and expert seasoning bring out the best in each
        dish, making for an unforgettable dining experience. Come taste the
        magic of meat preparation at Mimino.
      </li>
    </ul>
  </div>
</section>
