<section class="restaurant-hero" id="hero">
  <div class="restaurant-hero-container container">
    <div class="restaurant-hero-content">
      <div class="restaurant-hero-box">
        <h1 class="restaurant-hero-title animate__animated animate__fadeInDown">
          Restaurant
        </h1>
        <div class="restaurant-hero-wrap">
          <button type="button"
            class="restaurant-hero-btn button animate__animated animate__bounceIn animate__delay-1s js-open-modal"
            data-modal="book-table">
            book a table
          </button>
          <a href="#restaurant-menu"
            class="restaurant-hero-link button animate__animated animate__bounceIn animate__delay-1s">View a menu</a>
        </div>
      </div>
      <div class="slider slider-container" data-aos="zoom-in-left" data-aos-duration="800" data-aos-once="true">
        <div class="slider-box">
          <picture>
            <source media="(min-width: 1440px)" srcset="
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-1-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-1-2x-min.jpg 2x
              " />
            <source media="(min-width: 768px)" srcset="
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-1-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-1-2x-min.jpg 2x
              " />
            <source media="(min-width: 375px)" srcset="
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-2x-min.jpg 2x
              " />
            <img src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-1x-min.jpg" alt="restaurant-hero-slider"
              srcset="
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-2x-min.jpg 2x
              " />
          </picture>
        </div>
        <div class="slider-box">
          <picture>
            <source media="(min-width: 1440px)" srcset="
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-2-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-2-2x-min.jpg 2x
              " />
            <source media="(min-width: 768px)" srcset="
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-2-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-2-2x-min.jpg 2x
              " />
            <img src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-2-1x-min.jpg" alt="restaurant-hero-slider"
              srcset="
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-2-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-2-2x-min.jpg 2x
              " />
          </picture>
        </div>
        <div class="slider-box">
          <picture>
            <source media="(min-width: 1440px)" srcset="
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-3-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-3-2x-min.jpg 2x
              " />
            <source media="(min-width: 768px)" srcset="
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-3-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-3-2x-min.jpg 2x
              " />
            <img src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-3-1x-min.jpg" alt="restaurant-hero-slider"
              srcset="
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-3-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-3-2x-min.jpg 2x
              " />
          </picture>
        </div>

        <div class="slider-box">
          <picture>
            <source media="(min-width: 1440px)" srcset="
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-4-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-4-2x-min.jpg 2x
              " />
            <source media="(min-width: 768px)" srcset="
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-4-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-4-2x-min.jpg 2x
              " />
            <img src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-4-1x-min.jpg" alt="restaurant-hero-slider"
              srcset="
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-4-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-4-2x-min.jpg 2x
              " />
          </picture>
        </div>

        <div class="slider-box">
          <picture>
            <source media="(min-width: 1440px)" srcset="
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-5-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-5-2x-min.jpg 2x
              " />
            <source media="(min-width: 768px)" srcset="
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-5-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-5-2x-min.jpg 2x
              " />
            <img src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-5-1x-min.jpg" alt="restaurant-hero-slider"
              srcset="
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-5-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-5-2x-min.jpg 2x
              " />
          </picture>
        </div>

        <div class="slider-box">
          <picture>
            <source media="(min-width: 1440px)" srcset="
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-6-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-6-2x-min.jpg 2x
              " />
            <source media="(min-width: 768px)" srcset="
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-6-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-6-2x-min.jpg 2x
              " />
            <img src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-6-1x-min.jpg" alt="restaurant-hero-slider"
              srcset="
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-6-1x-min.jpg 1x,
                ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-6-2x-min.jpg 2x
              " />
          </picture>
        </div>
      </div>

      <div class="restaurant-slider-wrap animate__animated animate__zoomIn">
        <button type="button" class="slider-btn-prev">
          <svg class="slider-btn-icon" width="12" height="12">
            <use href="./img/icons/sprite.svg#button-left"></use>
          </svg>
        </button>
        <button type="button" class="slider-btn-next">
          <svg class="slider-btn-icon" width="12" height="12">
            <use href="./img/icons/sprite.svg#button-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <p class="restaurant-hero-text animate__animated animate__zoomIn animate__delay-1s">
      Whether you're in the mood for a hearty breakfast, a light lunch, or
      <span class="restaurant-hero-decoration">a romantic dinner</span> , our
      menu has something for everyone.
    </p>
  </div>
</section>