<section class="restaurant-hero" id="restaurant-hero">
  <div class="restaurant-hero-container container">
    <h1 class="restaurant-hero-title">Restaurant</h1>
    <div class="restaurant-hero-menu">
      <button type="button" class="restaurant-hero-btn js-open-modal" data-modal="book-table">book a table</button>
      <a href="" class="restaurant-hero-link">View a menu</a>
    </div>
    <picture>
      <source
        media="(min-width: 1140px)"
        srcset="
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-1-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-1-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-1-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-1-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 375px)"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-2x-min.jpg 2x
        "
      />
      <img
        src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-1x-min.jpg"
        alt="restaurant-hero-slider"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-1-2x-min.jpg 2x
        "
      />
    </picture>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-2-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-2-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-2-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-2-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 375px)"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-2-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-2-2x-min.jpg 2x
        "
      />
      <img
        src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-2-1x-min.jpg"
        alt="restaurant-hero-slider"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-2-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-2-2x-min.jpg 2x
        "
      />
    </picture>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-3-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-3-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-3-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-3-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 375px)"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-3-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-3-2x-min.jpg 2x
        "
      />
      <img
        src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-3-1x-min.jpg"
        alt="restaurant-hero-slider"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-3-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-3-2x-min.jpg 2x
        "
      />
    </picture>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-4-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-4-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-4-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-4-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 375px)"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-4-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-4-2x-min.jpg 2x
        "
      />
      <img
        src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-4-1x-min.jpg"
        alt="restaurant-hero-slider"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-4-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-4-2x-min.jpg 2x
        "
      />
    </picture>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-5-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-5-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-5-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-5-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 375px)"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-5-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-5-2x-min.jpg 2x
        "
      />
      <img
        src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-5-1x-min.jpg"
        alt="restaurant-hero-slider"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-5-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-5-2x-min.jpg 2x
        "
      />
    </picture>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-6-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/desktop/hero-rest-desk-6-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-6-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/tablet/hero-rest-tabl-6-2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 375px)"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-6-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-6-2x-min.jpg 2x
        "
      />
      <img
        src="./img/page-restaurant/hero-slider/mobile/hero-rest-mob-6-1x-min.jpg"
        alt="restaurant-hero-slider"
        srcset="
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-6-1x-min.jpg 1x,
          ./img/page-restaurant/hero-slider/mobile/hero-rest-mob-6-2x-min.jpg 2x
        "
      />
    </picture>
    <p class="restaurant-hero-text">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
  </div>
</section>
