<section class="restaurant-menu container" id="restaurant-menu">
    <h2 class="restaurant-menu-title" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">RESTAURANT MENU</h2>
    <div class="slider-restaurant-menu restaurant-menu-box">
        <div class="restaurant-menu-slider-box ">
            <div class="restaurant-menu-hot-meals restaurant-menu-blocks" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
                <h3 class="restaurant-menu-suptitle">HOT MEALS</h3>
                <ul class="restaurant-menu-list">
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Veal borscht with beans</p>
                            <p class="restaurant-menu-grams">400 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Veal, potatoes, cabbage, carrots, onions, beans,
                                garlic, tomatoes, greens, sour cream</p>
                            <p class="restaurant-menu-price">240 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Cheese soup with chicken</p>
                            <p class="restaurant-menu-grams">400 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Chicken, potatoes, carrots, onions, mushrooms,
                                soft cheese, greens</p>
                            <p class="restaurant-menu-price">200 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Carbonara pasta</p>
                            <p class="restaurant-menu-grams">400 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Tagliatelle pasta, bacon, cream, Parmesan
                                cheese, egg, greens</p>
                            <p class="restaurant-menu-price">430 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Pork steak</p>
                            <p class="restaurant-menu-grams">400 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Pork tenderloin, spices, served with sweet chili
                                sauce and vegetables</p>
                            <p class="restaurant-menu-price">500 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Gorbusha in white wine sauce</p>
                            <p class="restaurant-menu-grams">400 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Tender redfish, cream sauce based on white wine
                            </p>
                            <p class="restaurant-menu-price">400 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                </ul>
            </div>
        </div>
        <div class="restaurant-menu-slider-box">
            <div class="restaurant-menu-side-dishes restaurant-menu-blocks" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
                <h3 class="restaurant-menu-suptitle">SIDE DISHES AND SNACKS</h3>
                <ul class="restaurant-menu-list">
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Baked vegetables</p>
                            <p class="restaurant-menu-grams">200 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Zucchini, pepper, tomato, eggplant</p>
                            <p class="restaurant-menu-price">230 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">French fries</p>
                            <p class="restaurant-menu-grams">150 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Potatoes, tomato sauce</p>
                            <p class="restaurant-menu-price">160 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Peasant-style potatoes</p>
                            <p class="restaurant-menu-grams">150 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Potatoes, spices, spicy sauces</p>
                            <p class="restaurant-menu-price">160 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Crisp pickles from the barrel</p>
                            <p class="restaurant-menu-grams">250 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Salted cucumber, pickled tomato, sauerkraut,
                                Korean carrot</p>
                            <p class="restaurant-menu-price">350 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Chicken wings in honey sauce</p>
                            <p class="restaurant-menu-grams">400 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Chicken wings, mustard-honey sauce, served with
                                carrots, celery and blue cheese sauce</p>
                            <p class="restaurant-menu-price">500 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                </ul>
            </div>
        </div>
        <div class="restaurant-menu-slider-box">
            <div class="restaurant-menu-salads restaurant-menu-blocks" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
                <h3 class="restaurant-menu-suptitle">SALADS</h3>
                <ul class="restaurant-menu-list">
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Caesar with chicken</p>
                            <p class="restaurant-menu-grams">230 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Chicken fillet, lettuce, cherry tomatoes,
                                Parmesan cheese, croutons, Caesar sauce</p>
                            <p class="restaurant-menu-price">450 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Caesar with shrimp</p>
                            <p class="restaurant-menu-grams">230 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Tiger shrimp, lettuce, cherry tomatoes, parmesan
                                cheese, croutons, caesar sauce</p>
                            <p class="restaurant-menu-price">300 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Greek salad</p>
                            <p class="restaurant-menu-grams">230 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Fresh cucumber, tomato, bell pepper, olives,
                                brynza cheese, lettuce, sauce</p>
                            <p class="restaurant-menu-price">280 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                    <li class="restaurant-menu-item-one">
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-text restaurant-menu-marker">Meat salad</p>
                            <p class="restaurant-menu-grams">230 g</p>
                        </div>
                        <div class="restaurant-menu-wrap-meals">
                            <p class="restaurant-menu-list-ingredients">Chicken fillet or pork tenderloin, fresh
                                cucumber, tomato, bell pepper, ranch sauce</p>
                            <p class="restaurant-menu-price">300 UAH</p>
                        </div>
                    </li>
                    <li class="restaurant-menu-divider"></li>
                </ul>
            </div>
        </div>
        <div class="restaurant-menu-slider-box">
            <div class="restaurant-menu-blocks" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
                <div class="restaurant-menu-desserts">
                    <h3 class="restaurant-menu-suptitle">DESSERTS</h3>
                    <ul class="restaurant-menu-list">
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-text restaurant-menu-marker">Napoleon cake</p>
                            <p class="restaurant-menu-price">200 UAH</p>
                        </li>
                        <li class="restaurant-menu-divider"></li>
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-text restaurant-menu-marker">Poppy cake</p>
                            <p class="restaurant-menu-price">300 UAH</p>
                        </li>
                        <li class="restaurant-menu-divider"></li>
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-text restaurant-menu-marker">Tiramisu</p>
                            <p class="restaurant-menu-price">260 UAH</p>
                        </li>
                        <li class="restaurant-menu-divider"></li>
                    </ul>
                </div>
                <div class="restaurant-menu-drinks">
                    <h3 class="restaurant-menu-suptitle">DRINKS</h3>
                    <ul class="restaurant-menu-list">
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-text restaurant-menu-marker">Black/green tea</p>
                            <p class="restaurant-menu-price">100 UAH</p>
                        </li>
                        <li class="restaurant-menu-divider"></li>
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-text restaurant-menu-marker">Espresso</p>
                            <p class="restaurant-menu-price">100 UAH</p>
                        </li>
                        <li class="restaurant-menu-divider"></li>
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-text restaurant-menu-marker">Cappuccino</p>
                            <p class="restaurant-menu-price">100 UAH</p>
                        </li>
                        <li class="restaurant-menu-divider"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="restaurant-slider-btn-wrap">
        <button type="button" class="restaurant-slider-btn-prev slider-btn">
            <svg class="slider-btn-icon-left" width="12" height="12">
                <use href="./img/icons/sprite.svg#button-left"></use>
            </svg>
        </button>
        <button type="button" class="restaurant-slider-btn-next slider-btn">
            <svg class="slider-btn-icon-right" width="12" height="12">
                <use href="./img/icons/sprite.svg#button-right"></use>
            </svg>
        </button>
    </div>

    <button class="restaurant-menu-btn js-open-modal" type="button" data-modal="book-table" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">BOOK A TABLE</button>

</section>