<section class="restaurant-menu container">
    <h2 class="restaurant-menu-title">RESTAURANT MENU</h2>
        <div class="restaurant-menu-hot-meals">
            <h3 class="restaurant-menu-suptitle">HOT MEALS</h3>
            <ul class="restaurant-menu-list">
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        Veal borscht with beans
                        <p class="restaurant-menu-grams">400 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                        <h4 class="restaurant-menu-price">240 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        Cheese soup with chicken
                        <p class="restaurant-menu-grams">400 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                        <h4 class="restaurant-menu-price">200 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        Carbonara pasta
                        <p class="restaurant-menu-grams">400 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                        <h4 class="restaurant-menu-price">430 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        Pork steak
                        <p class="restaurant-menu-grams">400 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                        <h4 class="restaurant-menu-price">500 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        Gorbusha in white wine sauce
                        <p class="restaurant-menu-grams">400 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Tender redfish, cream sauce based on white wine</p>
                        <h4 class="restaurant-menu-price">400 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
            </ul>
        </div>
        <div class="restaurant-menu-side-dishes">
            <h3 class="restaurant-menu-suptitle">SIDE DISHES AND SNACKS</h3>
            <ul class="restaurant-menu-list">
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        Baked vegetables
                        <p class="restaurant-menu-grams">200 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Zucchini, pepper, tomato, eggplant</p>
                        <h4 class="restaurant-menu-price">230 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        French fries
                        <p class="restaurant-menu-grams">150 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Potatoes, tomato sauce</p>
                        <h4 class="restaurant-menu-price">160 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        Peasant-style potatoes
                        <p class="restaurant-menu-grams">150 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Potatoes, spices, spicy sauces</p>
                        <h4 class="restaurant-menu-price">160 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        Crisp pickles from the barrel
                        <p class="restaurant-menu-grams">250 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                        <h4 class="restaurant-menu-price">350 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">
                        Chicken wings in honey sauce
                        <p class="restaurant-menu-grams">400 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                        <h4 class="restaurant-menu-price">500 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
            </ul>
        </div>
        <div class="restaurant-menu-salads">
            <h3 class="restaurant-menu-suptitle">SALADS</h3>
            <ul class="restaurant-menu-list">
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">   
                        Caesar with chicken
                        <p class="restaurant-menu-grams">230 g</p>
                    </div> 
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                        <h4 class="restaurant-menu-price">450 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">   
                        Caesar with shrimp
                        <p class="restaurant-menu-grams">230 g</p>
                    </div> 
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                        <h4 class="restaurant-menu-price">300 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">    
                        Greek salad
                        <p class="restaurant-menu-grams">230 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                        <h4 class="restaurant-menu-price">280 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item-one">
                    <div class="restaurant-menu-div">    
                        Meat salad
                        <p class="restaurant-menu-grams">230 g</p>
                    </div>
                    <div class="restaurant-menu-div">
                        <p class="restaurant-menu-text">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                        <h4 class="restaurant-menu-price">300 UAH</h4>
                    </div>
                </li>
                <div class="restaurant-menu-line"></div>
            </ul>
        </div>
        <div class="restaurant-menu-desserts">
            <h3 class="restaurant-menu-suptitle">DESSERTS</h3>
            <ul class="restaurant-menu-list">
                <li class="restaurant-menu-item">Napoleon cake
                    <h4 class="restaurant-menu-price">200 UAH</h4>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item">Poppy cake
                    <h4 class="restaurant-menu-price">300 UAH</h4>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item">Tiramisu
                    <h4 class="restaurant-menu-price">260 UAH</h4>
                </li>
                <div class="restaurant-menu-line"></div>
            </ul>
        </div>
        <div class="restaurant-menu-drinks">
            <h3 class="restaurant-menu-suptitle">DRINKS</h3>
            <ul class="restaurant-menu-list">
                <li class="restaurant-menu-item">Black/green tea
                    <h4 class="restaurant-menu-price">100 UAH</h4>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item">Espresso
                    <h4 class="restaurant-menu-price">100 UAH</h4>
                </li>
                <div class="restaurant-menu-line"></div>
                <li class="restaurant-menu-item">Cappuccino
                    <h4 class="restaurant-menu-price">100 UAH</h4>
                </li>
                <div class="restaurant-menu-line"></div>
            </ul>
        </div>
        <button class="restaurant-menu-btn" type="button">BOOK A TABLE</button>
</section>