<section class="restaurant-menu">
    <h2 class="restaurant-menu-title">RESTAURANT MENU</h2>
        <div class="restaurant-menu-hot-meals">
            <h3 class="restaurant-menu-suptitle">HOT MEALS</h3>
            <lu class="restaurant-menu-list">
                <li class="restaurant-menu-item">Veal borscht with beans
                    <p class="restaurant-menu-grams">400 g</p>
                    <p class="restaurant-menu-text">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                    <p class="restaurant-menu-price">240 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Cheese soup with chicken
                    <p class="restaurant-menu-grams">400 g</p>
                    <p class="restaurant-menu-text">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                    <p class="restaurant-menu-price">200 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Carbonara pasta
                    <p class="restaurant-menu-grams">400 g</p>
                    <p class="restaurant-menu-text">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                    <p class="restaurant-menu-price">430 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Pork steak
                    <p class="restaurant-menu-grams">400 g</p>
                    <p class="restaurant-menu-text">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                    <p class="restaurant-menu-price">500 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Gorbusha in white wine sauce
                    <p class="restaurant-menu-grams">400 g</p>
                    <p class="restaurant-menu-text">Tender redfish, cream sauce based on white wine</p>
                    <p class="restaurant-menu-price">400 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
            </lu>
        </div>
        <div class="restaurant-menu-side-dishes">
            <h3 class="restaurant-menu-suptitle">SIDE DISHES AND SNACKS</h3>
            <lu class="restaurant-menu-list">
                <li class="restaurant-menu-item">Baked vegetables
                    <p class="restaurant-menu-grams">200 g</p>
                    <p class="restaurant-menu-text">Zucchini, pepper, tomato, eggplant</p>
                    <p class="restaurant-menu-price">230 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">French fries
                    <p class="restaurant-menu-grams">150 g</p>
                    <p class="restaurant-menu-text">Potatoes, tomato sauce</p>
                    <p class="restaurant-menu-price">160 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Peasant-style potatoes
                    <p class="restaurant-menu-grams">150 g</p>
                    <p class="restaurant-menu-text">Potatoes, spices, spicy sauces</p>
                    <p class="restaurant-menu-price">160 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Crisp pickles from the barrel
                    <p class="restaurant-menu-grams">250 g</p>
                    <p class="restaurant-menu-text">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                    <p class="restaurant-menu-price">350 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Chicken wings in honey sauce
                    <p class="restaurant-menu-grams">400 g</p>
                    <p class="restaurant-menu-text">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                    <p class="restaurant-menu-price">500 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
            </lu>
        </div>
        <div class="restaurant-menu-salads">
            <h3 class="restaurant-menu-suptitle">SALADS</h3>
            <lu class="restaurant-menu-list">
                <li class="restaurant-menu-item">Caesar with chicken
                    <p class="restaurant-menu-grams">230 g</p>
                    <p class="restaurant-menu-text">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                    <p class="restaurant-menu-price">450 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Caesar with shrimp
                    <p class="restaurant-menu-grams">230 g</p>
                    <p class="restaurant-menu-text">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                    <p class="restaurant-menu-price">300 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Greek salad
                    <p class="restaurant-menu-grams">230 g</p>
                    <p class="restaurant-menu-text">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                    <p class="restaurant-menu-price">280 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Meat salad
                    <p class="restaurant-menu-grams">230 g</p>
                    <p class="restaurant-menu-text">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                    <p class="restaurant-menu-price">300 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
            </lu>
        </div>
        <div class="restaurant-menu-desserts">
            <h3 class="restaurant-menu-suptitle">DESSERTS</h3>
            <lu class="restaurant-menu-list">
                <li class="restaurant-menu-item">Napoleon cake
                    <p class="restaurant-menu-price">200 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Poppy cake
                    <p class="restaurant-menu-price">300 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Tiramisu
                    <p class="restaurant-menu-price">260 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
            </lu>
        </div>
        <div class="restaurant-menu-drinks">
            <h3 class="restaurant-menu-suptitle">DRINKS</h3>
            <lu class="restaurant-menu-list">
                <li class="restaurant-menu-item">Black/green tea
                    <p class="restaurant-menu-price">100 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Espresso
                    <p class="restaurant-menu-price">100 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
                <li class="restaurant-menu-item">Cappuccino
                    <p class="restaurant-menu-price">100 UAH</p>
                </li>
                <hr class="restaurant-menu-default">
            </lu>
        </div>
        <button class="restaurant-menu-btn" type="button">BOOK A TABLE</button>
</section>