<!-- Book room modal -->

<div class="backdrop is-hidden">
  <div class="book-room-modal">
    <button class="modal-close-btn" type="button">
      <svg width="28" height="28">
        <use href="./img/icons/sprite.svg#close-x"></use>
      </svg>
    </button>
    <h2 class="modal-title">
      book a <span class="current-font-style">room</span>
    </h2>
    <form class="book-room-modal-form">
      <ul class="book-room-modal-list">
        <li class="book-room-modal-item">
          <label class="book-room-modal-label">
            <input
              type="text"
              name="user_name"
              class="book-room-modal-input"
              placeholder="Your name"
              required
            />Who should book a table for?
          </label>
        </li>
        <li class="book-room-modal-item">
          <label class="book-room-modal-label">
            <input
              type="tel"
              name="user_phone"
              class="book-room-modal-input"
              placeholder="+38 () "
              required
            />Phone number
          </label>
        </li>
        <li class="book-room-modal-item">
          <label class="book-room-modal-label">
            <span class="modal-icon-wrap">
              <select name="check_in_day" class="book-room-modal-select">
                <option value="1">TODAY</option>
                <option value="2">WITHIN A WEEK</option>
                <option value="3">WITHIN A MONTH</option>
              </select>
              <svg class="modal-select-icon" width="20" height="20">
                <use href="./img/icons/sprite.svg#btn-select"></use>
              </svg>
            </span>
            Check-in date
          </label>
        </li>
        <li class="book-room-modal-item">
          <label class="book-room-modal-label modal-select-label"
            ><span class="modal-icon-wrap">
              <input
                type="date"
                min="2010-01-01"
                max="2050-01-01"
                value="2023-04-25"
                class="book-room-modal-input"
              />
              <svg class="modal-select-icon" width="20" height="20">
                <use href="./img/icons/sprite.svg#btn-select"></use>
              </svg>
            </span>
            Check-out date</label
          >
        </li>
        <li class="book-room-modal-item">
          <label class="book-room-modal-label modal-select-label"
            ><span class="modal-icon-wrap">
              <select name="type_of_room" class="book-room-modal-select">
                <option value="1">DOUBLE SUITE</option>
                <option value="2">TRIPLE SUITE</option>
                <option value="3">QUADRUPLE SUITE</option>
              </select>
              <svg class="modal-select-icon" width="20" height="20">
                <use href="./img/icons/sprite.svg#btn-select"></use>
              </svg>
            </span>
            Check-in date</label
          >
        </li>
      </ul>
      <div class="modal-button-wrap">
        <button type="submit" class="modal-button">MAKE A RESERVATION</button>
      </div>
    </form>
  </div>
</div>
