<div class="mobile-menu mobile-menu-main is-close"  data-menu>
  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-nav-list">
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link" href="./index.html">Home</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link" href="./hotel.html">Hotel</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a class="mobile-menu-nav-link" href="./restaurant.html">Restaurant</a>
      </li>
    </ul>
  </nav>
  <ul class="mobile-menu-socials-list">
    <li class="mobile-menu-socials-item">
      <a
        class="mobile-menu-socials-link"
        target="_blank"
        rel="noreferrer noopener"
        href="https://www.instagram.com/"
      >
        <svg class="socials-icon-main" width="24" height="24">
          <use href="./img/icons/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-socials-item">
      <a
        class="mobile-menu-socials-link"
        href="https://www.facebook.com"
        target="_blank"
        rel="noreferrer noopener"
      >
        <svg class="socials-icon-main" width="24" height="24">
          <use href="./img/icons/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-socials-item">
      <a
        class="mobile-menu-socials-link"
        href="https://twitter.com"
        target="_blank"
        rel="noreferrer noopener"
      >
        <svg class="socials-icon-main" width="24" height="24">
          <use href="./img/icons/sprite.svg#twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
