<div class="backdrop is-hidden" data-modal="techical-modal">
  <div class="techical-modal modal">
    <button class="modal-close-btn" type="button">
      <svg width="28" height="28">
        <use href="./img/icons/sprite.svg#close-x"></use>
      </svg>
    </button>
    <h2 class="techical-title">Sorry, we're doing some techical work on the site</h2>
    <p class="techical-text">
      the data about this room on the site is currently being updated, you can
      find out all the information you need from the administrator by number:
    </p>
    <div class="number-link-wrap">
      <a href="tel:+380675654900" class="number-link button light-bg-btn"
        >+38 (067) 565 - 49 - 00</a
      >
    </div>
  </div>
</div>
