<div class="backdrop is-hidden" data-modal="techical-modal">
  <div class="techical-modal modal">
    <button class="modal-close-btn" type="button">
      <svg width="28" height="28">
        <use href="./img/icons/sprite.svg#close-x"></use>
      </svg>
    </button>
    <h2 class="techical-title">Techical Works</h2>
    <p class="techical-text">
      the data about this room on the site is currently being updated, you can
      find out all the information you need from the administrator by number
    </p>
  </div>
</div>
