/* Four seater room */
.four-seater-room-container {
    padding-bottom: 64px;
}

.four-seater-room-images {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-bottom: 32px;
}

.four-seater-room-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--text-color-dark);
    margin-bottom: 28px;
}


.four-seater-room-list-btns {
    display: flex;
    gap: 12px;
}



@media screen and (min-width: 768px) {
    .four-seater-room-container {
        position: relative;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .four-seater-room-images {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 32px;
        margin-bottom: 40px;
    }

    .four-seater-room-img-1 {
        order: 2;
    }

    .four-seater-room-img-2 {
        order: 1;
    }

    .four-seater-room-img-3 {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .four-seater-room-text {
        max-width: 475px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    .four-seater-room-list-btns {
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }
}



@media screen and (min-width: 1440px) {
    .four-seater-room-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .four-seater-room-images {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 32px;
        margin-bottom: 50px;
    }

    .four-seater-room-img-1 {
        order: 2;
    }

    .four-seater-room-img-2 {
        order: 3;
        margin-left: 0;
    }

    .four-seater-room-img-3 {
        order: 1;
        position: static;
        margin-top: 0;
    }

    .four-seater-room-text {
        margin-bottom: 0;
    }
    
    .four-seater-room-text-wrap {
        position: relative;
    }

    .four-seater-room-list-btns {
        position: absolute;
        display: flex;
        gap: 12px;
        right: 0;
        top: 0;
    }
}



