/* hotel hero */
.container-hotel-hero {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hotel-hero-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--title-color-dark);
    margin-bottom: 24px;
}

.hotel-hero-list-btns {
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
}

.hotel-btn {
    border: 0.8px solid var(--accent-color-dark);
    color: var(--accent-color-dark);
}

.hotel-hero-desc {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-color-dark);
}