/*  Triple room */
.triple-room-container {
    padding-top: 12px;
    padding-bottom: 64px;
}

.triple-room-images {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-bottom: 32px;
}

.triple-room-text-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 28px;
}

.triple-room-text-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--text-color-dark);
}

.triple-room-list-btns {
    display: flex;
    gap: 12px;
}



@media screen and (min-width: 768px) {
    .triple-room-container {
        padding-top: 80px;
        padding-bottom: 0;
    }

    .triple-room-images {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-bottom: 40px;
    }

    .triple-room-img-3 {
        position: absolute;
        margin-left: 363px;
        margin-top: 293px;
    }

    .triple-room-text-wrap {
        width: 686px;
    }

    .triple-room-text-list {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-bottom: 40px;
    }

    .triple-room-text-item {
        max-width: 355px;
        font-size: 18px;
        line-height: 24px;
    }

    .triple-room-list-btns {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
    }
}



@media screen and (min-width: 1440px) {
    .triple-room-container {
        padding-top: 100px;
        padding-bottom: 0;
    }

    .triple-room-images {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 32px;
        margin-bottom: 50px;
    }

    .triple-room-img-1 {
        order: 2;
    }

    .triple-room-img-2 {
        order: 3;
    }

    .triple-room-img-3 {
        order: 1;
        position: static;
        margin-left: 0;
        margin-top: 0;
    }

    .triple-room-text-wrap {
        margin-left: 690px;
    }

    .triple-room-text-list {
        width: 686px;
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-bottom: 0;
    }

    .triple-room-text-item {
        max-width: 355px;
        font-size: 18px;
        line-height: 24px;
    }

    .triple-room-list-btns {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        gap: 12px;
        margin-top: -196px;
    }
}