<!-- about a complex -->
<section class="about-complex">
  <h2 class="visually-hidden">About a complex</h2>

  <div class="restaurant-hotel-hotel-complex-wrapper">
    <picture class="about-complex-img-1">
      <source
        srcset="
          ../img/page-home/about-a-complex/desktop/about-desk-1-1x-min.jpg 1x,
          ../img/page-home/about-a-complex/desktop/about-desk-1-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />

      <source
        srcset="
          ../img/page-home/about-a-complex/tablet/about-1-bg-tabl-1x-min.jpg 1x,
          ../img/page-home/about-a-complex/tablet/about-1-bg-tabl-2x-min.jpg 2x
        "
        media="(min-width:768px)"
      />

      <source
        srcset="
          ../img/page-home/about-a-complex/mobile/about-mob-1-1x-min.jpg 1x,
          ../img/page-home/about-a-complex/mobile/about-mob-1-2x-min.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="../img/page-home/about-a-complex/desktop/about-desk-1-1x-min.jpg"
        alt="about-complex-1"
        width="482"
        height="636"
      />
    </picture>

    <picture class="about-complex-img-2">
      <source
        srcset="
          ../img/page-home/about-a-complex/desktop/about-desk-2-1x-min.jpg 1x,
          ../img/page-home/about-a-complex/desktop/about-desk-2-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />

      <source
        srcset="
          ../img/page-home/about-a-complex/tablet/about-2-bg-tabl-1x-min.jpg 1x,
          ../img/page-home/about-a-complex/tablet/about-2-bg-tabl-2x-min.jpg 2x
        "
        media="(min-width:768px)"
      />

      <source
        srcset="
          ../img/page-home/about-a-complex/mobile/about-mob-2-1x-min.jpg 1x,
          ../img/page-home/about-a-complex/mobile/about-mob-2-2x-min.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="../img/page-home/about-a-complex/desktop/about-desk-2-1x-min.jpg"
        alt="about-complex-2"
        width="439"
        height="219"
      />
    </picture>

    <div class="review-wrapper">
      <img
        class="maria-review-img"
        srcset="
          ../img/page-home/about-a-complex/alexander-and-maria/about-maria-1x-min.png 1x,
          ../img/page-home/about-a-complex/alexander-and-maria/about-maria-2x-min.png 2x
        "
        src="../img/page-home/about-a-complex/alexander-and-maria/about-maria-1x-min.png"
        alt="Maria-review"
        width="41"
        height="41"
      />
      <p class="review-name">Maria</p>
      <p class="review-desc">
        give rating
        <span class="review-rating">4.5</span>
      </p>
    </div>

    <div class="restaurant-hotel-hotel-complex-content">
      <h3 class="about-complex-subtitle">restaurant-hotel complex</h3>
      <p class="about-complex-desc">
        Indulge in a taste of luxury with every bite at Hotel Mimino. From the
        freshest seafood to the most succulent steaks, every dish is crafted
        with care to ensure that you enjoy a truly memorable dining experience.
      </p>
      <p class="about-complex-desc">
        Treat yourself to a taste of the good life and come dine with us today!
      </p>
    </div>
  </div>

  <div class="business-class-hotel-wrapper">
    <div class="business-class-hotel-content">
      <picture class="about-complex-img-3">
        <source
          srcset="
            ../img/page-home/about-a-complex/desktop/about-desk-3-1x-min.jpg 1x,
            ../img/page-home/about-a-complex/desktop/about-desk-3-2x-min.jpg 2x
          "
          media="(min-width:1440px)"
        />

        <source
          srcset="
            ../img/page-home/about-a-complex/tablet/about-4-bg-tabl-1x-min.jpg 1x,
            ../img/page-home/about-a-complex/tablet/about-4-bg-tabl-2x-min.jpg 2x
          "
          media="(min-width:768px)"
        />

        <source
          srcset="
            ../img/page-home/about-a-complex/mobile/about-mob-4-1x-min.jpg 1x,
            ../img/page-home/about-a-complex/mobile/about-mob-4-2x-min.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="../img/page-home/about-a-complex/desktop/about-desk-3-1x-min.jpg"
          alt="about-complex-3"
          width="305"
          height="309"
        />
      </picture>

      <h3 class="about-complex-subtitle">business class hotel</h3>
      <p class="about-complex-desc">
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>

    <picture class="about-complex-img-4">
      <source
        srcset="
          ../img/page-home/about-a-complex/desktop/about-desk-4-1x-min.jpg 1x,
          ../img/page-home/about-a-complex/desktop/about-desk-4-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />

      <source
        srcset="
          ../img/page-home/about-a-complex/tablet/about-3-bg-tabl-1x-min.jpg 1x,
          ../img/page-home/about-a-complex/tablet/about-3-bg-tabl-2x-min.jpg 2x
        "
        media="(min-width:768px)"
      />

      <source
        srcset="
          ../img/page-home/about-a-complex/mobile/about-mob-3-1x-min.jpg 1x,
          ../img/page-home/about-a-complex/mobile/about-mob-3-2x-min.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="../img/page-home/about-a-complex/desktop/about-desk-4-1x-min.jpg"
        alt="about-complex-4"
        width="530"
        height="492"
      />
    </picture>

    <div class="review-wrapper">
      <img
        class="alexander-review-img"
        srcset="
          ../img/page-home/about-a-complex/alexander-and-maria/about-alexander-1x-min.png 1x,
          ../img/page-home/about-a-complex/alexander-and-maria/about-alexander-2x-min.png 2x
        "
        src="../img/page-home/about-a-complex/alexander-and-maria/about-alexander-1x-min.png"
        alt="Alexander-review"
        width="41"
        height="41"
      />
      <p class="review-name">Alexander</p>
      <p class="review-desc">
        give rating
        <span class="review-rating">5.5</span>
      </p>
    </div>
  </div>
</section>
