<!-- about a complex -->
<section class="about-complex">
  <div class="container">
    <h2 class="visually-hidden">About a complex</h2>

    <div class="restaurant-hotel-complex-wrapper">
      <div
        class="restaurant-hotel-complex-img"
        data-aos="fade-right"
        data-aos-offset="150"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine"
        data-aos-once="true"
      >
        <picture class="about-complex-img-1">
          <source
            srcset="
              ./img/page-home/about-a-complex/desktop/about-desk-1-1x-min.jpg 1x,
              ./img/page-home/about-a-complex/desktop/about-desk-1-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              ./img/page-home/about-a-complex/tablet/about-1-bg-tabl-1x-min.jpg 1x,
              ./img/page-home/about-a-complex/tablet/about-1-bg-tabl-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            src="./img/page-home/about-a-complex/mobile/about-mob-1-1x-min.jpg"
            alt="about-complex-1"
            srcset="
              ./img/page-home/about-a-complex/mobile/about-mob-1-2x-min.jpg 2x
            "
            width="482"
            height="636"
          />
        </picture>

        <picture
          class="about-complex-img-2"
          data-aos="fade-right"
          data-aos-offset="250"
          data-aos-delay="250"
          data-aos-easing="ease-in-sine"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <source
            srcset="
              ./img/page-home/about-a-complex/desktop/about-desk-2-1x-min.jpg 1x,
              ./img/page-home/about-a-complex/desktop/about-desk-2-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
            width="439"
            heihgt="219"
          />

          <source
            srcset="
              ./img/page-home/about-a-complex/tablet/about-2-bg-tabl-1x-min.jpg 1x,
              ./img/page-home/about-a-complex/tablet/about-2-bg-tabl-2x-min.jpg 2x
            "
            media="(min-width:768px)"
            width="404"
            height="219"
          />

          <img
            src=" ./img/page-home/about-a-complex/mobile/about-mob-2-1x-min.jpg"
            alt="about-complex-2"
            srcset="
              ./img/page-home/about-a-complex/mobile/about-mob-2-2x-min.jpg 2x
            "
            width="282"
            height="153"
          />
        </picture>

        <div
          class="review-wrapper"
          data-aos="fade-down"
          data-aos-offset="350"
          data-aos-delay="350"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <img
            class="maria-review-img"
            srcset="
              ./img/page-home/about-a-complex/alexander-and-maria/about-maria-1x-min.png 1x,
              ./img/page-home/about-a-complex/alexander-and-maria/about-maria-2x-min.png 2x
            "
            src="./img/page-home/about-a-complex/alexander-and-maria/about-maria-1x-min.png"
            alt="Maria-review"
            width="41"
            height="41"
          />
          <div class="review-content">
            <p class="review-name">Maria</p>
            <p class="review-desc">
              give rating
              <span class="review-rating">4.5</span>
            </p>
          </div>
        </div>
      </div>

      <div
        class="restaurant-hotel-complex-content"
        data-aos="zoom-in-left"
        data-aos-offset="150"
        data-aos-delay="150"
        data-aos-once="true"
        data-aos-duration="1000"
      >
        <h3 class="about-complex-subtitle">restaurant-hotel complex</h3>
        <p class="about-complex-desc desc">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="about-complex-desc">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>

    <div class="business-class-hotel-wrapper">
      <div class="business-class-hotel-img">
        <picture
          class="about-complex-img-4"
          data-aos="fade-down"
          data-aos-offset="300"
          data-aos-delay="300"
          data-aos-easing="ease-in-sine"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <source
            srcset="
              ./img/page-home/about-a-complex/desktop/about-desk-4-1x-min.jpg 1x,
              ./img/page-home/about-a-complex/desktop/about-desk-4-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              ./img/page-home/about-a-complex/tablet/about-3-bg-tabl-1x-min.jpg 1x,
              ./img/page-home/about-a-complex/tablet/about-3-bg-tabl-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img
            class="about-complex-img-4"
            src="./img/page-home/about-a-complex/mobile/about-mob-3-1x-min.jpg"
            srcset="
              ./img/page-home/about-a-complex/mobile/about-mob-3-2x-min.jpg 2x
            "
            alt="about-complex-4"
            width="530"
            height="492"
          />
        </picture>
        <div
          class="review-wrapper"
          data-aos="flip-right"
          data-aos-offset="200"
          data-aos-delay="400"
          data-aos-easing="ease-in-sine"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <img
            class="alexander-review-img"
            srcset="
              ./img/page-home/about-a-complex/alexander-and-maria/about-alexander-1x-min.png 1x,
              ./img/page-home/about-a-complex/alexander-and-maria/about-alexander-2x-min.png 2x
            "
            src="./img/page-home/about-a-complex/alexander-and-maria/about-alexander-1x-min.png"
            alt="Alexander-review"
            width="41"
            height="41"
          />
          <div class="review-content">
            <p class="review-name">Alexander</p>
            <p class="review-desc">
              give rating
              <span class="review-rating">5.5</span>
            </p>
          </div>
        </div>
      </div>

      <div class="business-class-hotel-content">
        <div
          class="business-class-hotel-text"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-delay="300"
          data-aos-easing="ease-in-sine"
          data-aos-once="true"
        >
          <h3 class="about-complex-subtitle">business class hotel</h3>
          <p class="about-complex-desc">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>
        <picture
          class="about-complex-img-3"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <source
            srcset="
              ./img/page-home/about-a-complex/desktop/about-desk-3-1x-min.jpg 1x,
              ./img/page-home/about-a-complex/desktop/about-desk-3-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
            width="266"
          />

          <source
            srcset="
              ./img/page-home/about-a-complex/tablet/about-4-bg-tabl-1x-min.jpg 1x,
              ./img/page-home/about-a-complex/tablet/about-4-bg-tabl-2x-min.jpg 2x
            "
            media="(min-width:768px)"
            width="266"
          />

          <img
            src="./img/page-home/about-a-complex/mobile/about-mob-4-1x-min.jpg"
            srcset="
              ./img/page-home/about-a-complex/mobile/about-mob-4-2x-min.jpg 2x
            "
            alt="about-complex-3"
            width="335"
            height="309"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
