<section class="hero-main" id="hero-main">
  <div class="container-hero-main container">
    <h1 class="hero-title animate__animated animate__fadeInDown animate__delay-1s">Mimino</h1>
    <div class="hero-wrap-item">
      <ul class="hero-list-btns">
        <li class="hero-item-btn">
          <button type="button" class="button room-btn-hero-main light-bg-btn js-open-modal" data-modal="book-room">book a room</button>
        </li>
        <li class="hero-item-btn">
          <button type="button" class="button table-btn-hero-main light-bg-btn js-open-modal" data-modal="book-table">
            book a table
          </button>
        </li>
      </ul>
      <ul class="hero-list-desc">
        <li class="hero-item-desc">
          <p class="hero-desc">
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            <span class="italic-text">a romantic dinner</span>, our menu has something for everyone.
          </p>
        </li>
        <li class="hero-item-desc">
          <p class="hero-desc">
            At Hotel Mimino, <span class="italic-text">we believe</span> that great food should be available to
            everyone, no matter the time of day.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
