<section class="hotel">
  <div class="container hotel-content">
    <div class="title-text-common">
      <h2 class="hotel-title">Hotel</h2>
      <p class="hotel-text">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
    </div>
    <div class="hotel-pictures">
      <div class="pictures-first-second">
        <div class="first-group">
          <picture>
            <source
              srcset="
                ./img/page-home/hotel’s-details/desktop/hotel-desk-3-1x-min.jpg 1x,
                ./img/page-home/hotel’s-details/desktop/hotel-desk-3-2x-min.jpg 2x
              "
              width="420px"
              height="548px"
              media="(min-width:1440px)"
            />

            <source
              srcset="
                ./img/page-home/hotel’s-details/tablet/hotel-tabl-3-1x-min.jpg 1x,
                ./img/page-home/hotel’s-details/tablet/hotel-tabl-3-2x-min.jpg 2x
              "
              width="320px"
              height="417px"
              media="(min-width:768px)"
            />
            <img
              src="./img/page-home/hotel’s-details/mobile/hotel-mob-1-1x-min.jpg"
              width="335px"
              height="417px"
              alt="hotel"
              srcset="
                ./img/page-home/hotel’s-details/mobile/hotel-mob-1-2x-min.jpg 2x
              "
            />
          </picture>
        </div>

        <div class="second-group">
          <picture>
            <source
              srcset="
                ./img/page-home/hotel’s-details/desktop/hotel-desk-1-1x-min.jpg 1x,
                ./img/page-home/hotel’s-details/desktop/hotel-desk-1-2x-min.jpg 2x
              "
              width="320px"
              height="260px"
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/page-home/hotel’s-details/tablet/hotel-tabl-1-1x-min.jpg 1x,
                ./img/page-home/hotel’s-details/tablet/hotel-tabl-1-2x-min.jpg 2x
              "
              width="176px"
              height="143px"
              media="(min-width:768px)"
            />
            <img
              src="./img/page-home/hotel’s-details/mobile/hotel-mob-3-1x-min.jpg"
              width="158px"
              height="128px"
              alt="hotel"
              srcset="
                ./img/page-home/hotel’s-details/mobile/hotel-mob-3-2x-min.jpg 2x
              "
            />
          </picture>

          <picture>
            <source
              srcset="
                ./img/page-home/hotel’s-details/desktop/hotel-desk-2-1x-min.jpg 1x,
                ./img/page-home/hotel’s-details/desktop/hotel-desk-2-2x-min.jpg 2x
              "
              width="320px"
              height="260px"
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/page-home/hotel’s-details/tablet/hotel-tabl-2-1x-min.jpg 1x,
                ./img/page-home/hotel’s-details/tablet/hotel-tabl-2-2x-min.jpg 2x
              "
              width="176px"
              height="258px"
              media="(min-width:768px)"
            />
            <img
              src="./img/page-home/hotel’s-details/mobile/hotel-mob-2-1x-min.jpg"
              width="158px"
              height="128px"
              alt="hotel"
              srcset="
                ./img/page-home/hotel’s-details/mobile/hotel-mob-2-2x-min.jpg 2x
              "
            />
          </picture>
        </div>
      </div>

      <div class="third-group">
        <picture>
          <source
            srcset="
              ./img/page-home/hotel’s-details/desktop/hotel-desk-4-1x-min.jpg 1x,
              ./img/page-home/hotel’s-details/desktop/hotel-desk-4-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/page-home/hotel’s-details/tablet/hotel-tabl-4-1x-min.jpg 1x,
              ./img/page-home/hotel’s-details/tablet/hotel-tabl-4-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            src="./img/page-home/hotel’s-details/tablet/hotel-tabl-4-1x-min.jpg"
            alt="hotel"
            srcset="
              ./img/page-home/hotel’s-details/tablet/hotel-tabl-2-2x-min.jpg 2x
            "
          />
        </picture>
        <picture>
          <source
            srcset="
              ./img/page-home/hotel’s-details/desktop/hotel-desk-5-1x-min.jpg 1x,
              ./img/page-home/hotel’s-details/desktop/hotel-desk-5-2x-min.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/page-home/hotel’s-details/tablet/hotel-tabl-5-1x-min.jpg 1x,
              ./img/page-home/hotel’s-details/tablet/hotel-tabl-5-2x-min.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            src="./img/page-home/hotel’s-details/tablet/hotel-tabl-5-1x-min.jpg"
            alt="hotel"
            srcset="
              ./img/page-home/hotel’s-details/tablet/hotel-tabl-5-2x-min.jpg 2x
            "
          />
        </picture>
      </div>
    </div>
    <div class="buttons">
      <button
        type="button"
        class="button light-bg-btn hotel-button common js-open-modal"
        data-modal="book-room"
      >
        Book a room
      </button>
      <a class="button light-bg-btn hotel-view-btn common" href="./hotel.html">View rooms</a>
      <!-- <button type="button" class="hotel-button-second common">
        View rooms
      </button> -->
    </div>
  </div>
</section>
