<section class="hotel">
  <div class="container">
    <h2 class="hotel-title">Hotel</h2>
    <p class="hotel-text">
      Book your stay with us now and experience the epitome of comfort and
      luxury at our hotel. We guarantee you'll be thrilled with your decision.
    </p>
    <button type="button" class="hotel-button">Book a room</button>
    <a href="hotel-button-second">View rooms</a>

    <!-- <button type="button" class="hotel-button-second">View rooms</button> -->
    <img
      src="./img/page-home/hotel’s-details/desktop/hotel-desk-1-1x-min.jpg"
      alt="soap"
      srcset="
        ./img/page-home/hotel’s-details/desktop/hotel-desk-1-1x-min.jpg 1x,
        ./img/page-home/hotel’s-details/desktop/hotel-desk-1-2x-min.jpg 2x
      "
    />
    <img
      src="./img/page-home/hotel’s-details/desktop/hotel-desk-2-1x-min.jpg"
      alt="bathroom"
      srcset="
        ./img/page-home/hotel’s-details/desktop/hotel-desk-2-1x-min.jpg 1x,
        ./img/page-home/hotel’s-details/desktop/hotel-desk-2-2x-min.jpg 2x
      "
    />
    <img
      src="./img/page-home/hotel’s-details/desktop/hotel-desk-3-1x-min.jpg"
      alt="bedroom"
      srcset="
        ./img/page-home/hotel’s-details/desktop/hotel-desk-3-1x-min.jpg 1x,
        ./img/page-home/hotel’s-details/desktop/hotel-desk-3-2x-min.jpg 2x
      "
    />
    <img
      src="./img/page-home/hotel’s-details/desktop/hotel-desk-4-1x-min.jpg"
      alt="washbasin"
      srcset="
        ./img/page-home/hotel’s-details/desktop/hotel-desk-4-1x-min.jpg 1x,
        ./img/page-home/hotel’s-details/desktop/hotel-desk-4-2x-min.jpg 2x
      "
    />
    <img
      src="./img/page-home/hotel’s-details/desktop/hotel-desk-5-1x-min.jpg"
      alt="mirror"
      srcset="
        ./img/page-home/hotel’s-details/desktop/hotel-desk-5-1x-min.jpg 1x,
        ./img/page-home/hotel’s-details/desktop/hotel-desk-5-2x-min.jpg 2x
      "
    />
  </div>
</section>
