<section class="locations">
    <div class="container-location container">
        <h2 class="location-title">Location</h2>
    
        <iframe title="our location" class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d507.40963338157786!2d34.52650989630052!3d49.599223087406706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e0!3m2!1sen!2sua!4v1677307539401!5m2!1sen!2sua" width="280" height="344" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
        <address class="locations-contacts">
            <p class="locations-contacts-address">Ukraine, Poltava, <br> St. Marshal Biryuzov, 15</p>
            <div class="locations-phones">
                <p class="locations-phones-title">Call us:</p>
                <ul class="contacts-list">
                    <li  class="contacts-item"><a class="contacts-link link" href="tel:+380955559533">(095) 555 95 33</a></li>
                    <li  class="contacts-item"><a class="contacts-link link" href="tel:+380668491089">(066) 849 10 89</a></li>
                </ul>
            </div>
        </address>
    </div>
</section>

