<div class="container">
    <h2>Location</h2>

    <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d507.40963338157786!2d34.52650989630052!3d49.599223087406706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e0!3m2!1sen!2sua!4v1677307539401!5m2!1sen!2sua" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>   

    <div class="contacts">
        <p>Ukraine, Poltava, St. Marshal Biryuzov, 15</p>
        <div class="call-us">
            <p>Call us:</p>
            <ul class="contacts-list">
                <li  class="contacts-item"><a class="contacts-link link" href="tel:+380955559533">(095) 555 95 33</a></li>
                <li  class="contacts-item"><a class="contacts-link link" href="tel:+380668491089">(066) 849 10 89</a></li>
            </ul>
        </div>
    </div>

    <div class="locations-socials">
        <a class="logo" href="./index.html">
            <span class="logo-top">Mimino</span>
            <span class="logo-bottom">restaurant-hotel complex</span>
        </a>
    
        <ul class="socials-list">
            <li class="socials-item">
                <a class="socials-link" target="_blank" rel="noreferrer noopener" href="https://www.instagram.com/">
                    <svg class="socials-icon" width="20" height="20">
                        <use href="./img/icons/sprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="socials-item">
                <a class="socials-link" href="https://www.facebook.com" target="_blank" rel="noreferrer noopener">
                    <svg class="socials-icon" width="20" height="20">
                        <use href="./img/icons/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="socials-item">
                <a class="socials-link" href="https://twitter.com" target="_blank" rel="noreferrer noopener">
                    <svg class="socials-icon" width="20" height="20">
                        <use href="./img/icons/sprite.svg#twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>

