<section class="restaurant-details">
  <div class="container">
    <div
      class="restaurant-desc-wrapper"
      data-aos="flip-right"
      data-aos-delay="300"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      data-aos-offset="100"
      data-aos-once="true"
    >
      <h2 class="restaurant-title">restaurant</h2>
      <p class="restaurant-desc">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>

    <div class="restaurant-details-slider">
      <div
        class="restaurant-img-wrapper slider-container-main-restaurant"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="200"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1000"
        data-aos-offset="100"
        data-aos-once="true"
      >
        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-1-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-1-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
              width="266"
              height="309"
            />

            <source
              srcset="
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-1-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-1-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="336"
              height="309"
            />

            <img
              src="./img/page-home/restaurant’s-details/mobile/restaurant-mob-1-1x-min.jpg"
              srcset="
                ./img/page-home/restaurant’s-details/mobile/restaurant-mob-1-2x-min.jpg 2x
              "
              alt="restaurant1"
              width="157"
              height="201"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-2-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-2-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
              width="266"
              height="309"
            />

            <source
              srcset="
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-2-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-2-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="336"
              height="309"
            />

            <img
              src="./img/page-home/restaurant’s-details/mobile/restaurant-mob-2-1x-min.jpg"
              srcset="
                ./img/page-home/restaurant’s-details/mobile/restaurant-mob-2-2x-min.jpg 2x
              "
              width="157"
              height="201"
              alt="restaurant2"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-3-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-3-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
              width="266"
              height="309"
            />

            <source
              srcset="
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-3-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-3-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="336"
              height="309"
            />

            <img
              src="./img/page-home/restaurant’s-details/mobile/restaurant-mob-3-1x-min.jpg"
              srcset="
                ./img/page-home/restaurant’s-details/mobile/restaurant-mob-3-2x-min.jpg 2x
              "
              width="157"
              height="201"
              alt="restaurant3"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-4-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-4-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
              width="266"
              height="309"
            />

            <source
              srcset="
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-4-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-4-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="336"
              height="309"
            />

            <img
              src="./img/page-home/restaurant’s-details/mobile/restaurant-mob-4-1x-min.jpg"
              srcset="
                ./img/page-home/restaurant’s-details/mobile/restaurant-mob-4-2x-min.jpg 2x
              "
              width="157"
              height="201"
              alt="restaurant4"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-5-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-5-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
              width="266"
              height="309"
            />

            <source
              srcset="
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-5-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-5-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="336"
              height="309"
            />

            <img
              src="./img/page-home/restaurant’s-details/mobile/restaurant-mob-5-1x-min.jpg"
              srcset="
                ./img/page-home/restaurant’s-details/mobile/restaurant-mob-5-2x-min.jpg 2x
              "
              width="157"
              height="201"
              alt="restaurant5"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-6-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-6-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
              width="266"
              height="309"
            />

            <source
              srcset="
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-6-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-6-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="336"
              height="309"
            />

            <img
              src="./img/page-home/restaurant’s-details/mobile/restaurant-mob-6-1x-min.jpg"
              srcset="
                ./img/page-home/restaurant’s-details/mobile/restaurant-mob-6-2x-min.jpg 2x
              "
              width="157"
              height="201"
              alt="restaurant6"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-7-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-7-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
              width="266"
              height="309"
            />

            <source
              srcset="
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-7-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/tablet/restaurant-tabl-7-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="336"
              height="309"
            />

            <img
              src="./img/page-home/restaurant’s-details/mobile/restaurant-mob-7-1x-min.jpg"
              srcset="
                ./img/page-home/restaurant’s-details/mobile/restaurant-mob-7-2x-min.jpg 2x
              "
              width="157"
              height="201"
              alt="restaurant7"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-8-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-8-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <img
              class="img-desktop"
              src="./img/page-home/restaurant’s-details/desktop/restaurant-desk-8-1x-min.jpg"
              alt="restaurant8"
              width="266"
              height="309"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-9-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-9-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <img
              class="img-desktop"
              src="./img/page-home/restaurant’s-details/desktop/restaurant-desk-9-1x-min.jpg"
              alt="restaurant9"
              width="266"
              height="309"
            />
          </picture>
        </div>

        <div>
          <picture>
            <source
              srcset="
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-10-1x-min.jpg 1x,
                ./img/page-home/restaurant’s-details/desktop/restaurant-desk-10-2x-min.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <img
              class="img-desktop"
              src="./img/page-home/restaurant’s-details/desktop/restaurant-desk-10-1x-min.jpg"
              alt="restaurant10"
              width="266"
              height="309"
            />
          </picture>
        </div>
      </div>

      <div
        class="btn-slider-wrapper"
        data-aos="zoom-out"
        data-aos-delay="400"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1000"
        data-aos-offset="100"
        data-aos-once="true"
      >
        <button
          class="btn-slider-left slider-btn-prev"
          aria-label="scroll to left"
        >
          <svg class="icon-slider-left" width="7" height="14">
            <use href="./img/icons/sprite.svg#button-left"></use>
          </svg>
        </button>

        <button
          class="btn-slider-right slider-btn-next"
          aria-label="scroll to right"
        >
          <svg class="icon-slider-right" width="7" height="14">
            <use href="./img/icons/sprite.svg#button-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div
      class="restaurant-button-wrapper"
      data-aos="flip-left"
      data-aos-delay="800"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      data-aos-offset="100"
      data-aos-once="true"
    >
      <button type="button" class="book-table-btn">book a table</button>
      <a class="menu-btn" href="./restaurant.html">View the menu</a>
    </div>
  </div>
</section>
