<section class="restaurant's-details">
  <div class="restaurant-desc-wrapper">
    <h2 class="restaurant-title">restaurant</h2>
    <p class="restaurant-desc">
      Relax and unwind with our delicious offerings, available any time of day.
    </p>
  </div>

  <div class="restaurant-img-wrapper">
    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-1-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-1-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
        width="266"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-1-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-1-2x-min.jpg 2x
        "
        media="(min-width:768px)"
        width="336"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-1-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-1-2x-min.jpg 2x
        "
        media="(max-width:767px)"
        width="157"
        height="201"
      />

      <img
        src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-1-1x-min.jpg"
        alt="restaurant1"
        width="266"
        height="309"
      />
    </picture>

    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-2-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-2-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
        width="266"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-2-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-2-2x-min.jpg 2x
        "
        media="(min-width:768px)"
        width="336"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-2-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-2-2x-min.jpg 2x
        "
        media="(max-width:767px)"
        width="157"
        height="201"
      />

      <img
        src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-2-1x-min.jpg"
        alt="restaurant2"
        width="266"
        height="309"
      />
    </picture>

    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-3-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-3-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
        width="266"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-3-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-3-2x-min.jpg 2x
        "
        media="(min-width:768px)"
        width="336"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-3-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-3-2x-min.jpg 2x
        "
        media="(max-width:767px)"
        width="157"
        height="201"
      />

      <img
        src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-3-1x-min.jpg"
        alt="restaurant3"
        width="266"
        height="309"
      />
    </picture>

    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-4-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-4-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
        width="266"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-4-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-4-2x-min.jpg 2x
        "
        media="(min-width:768px)"
        width="336"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-4-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-4-2x-min.jpg 2x
        "
        media="(max-width:767px)"
        width="157"
        height="201"
      />

      <img
        src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-4-1x-min.jpg"
        alt="restaurant4"
        width="266"
        height="309"
      />
    </picture>

    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-5-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-5-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
        width="266"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-5-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-5-2x-min.jpg 2x
        "
        media="(min-width:768px)"
        width="336"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-5-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-5-2x-min.jpg 2x
        "
        media="(max-width:767px)"
        width="157"
        height="201"
      />

      <img
        src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-5-1x-min.jpg"
        alt="restaurant5"
        width="266"
        height="309"
      />
    </picture>

    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-6-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-6-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
        width="266"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-6-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-6-2x-min.jpg 2x
        "
        media="(min-width:768px)"
        width="336"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-6-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-6-2x-min.jpg 2x
        "
        media="(max-width:767px)"
        width="157"
        height="201"
      />

      <img
        src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-6-1x-min.jpg"
        alt="restaurant6"
        width="266"
        height="309"
      />
    </picture>

    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-7-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-7-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
        width="266"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-7-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/tablet/restaurant-tabl-7-2x-min.jpg 2x
        "
        media="(min-width:768px)"
        width="336"
        height="309"
      />

      <source
        srcset="
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-7-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/mobile/restaurant-mob-7-2x-min.jpg 2x
        "
        media="(max-width:767px)"
        width="157"
        height="201"
      />

      <img
        src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-7-1x-min.jpg"
        alt="restaurant7"
        width="266"
        height="309"
      />
    </picture>

    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-8-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-8-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />
      <!-- <img src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-8-1x-min.jpg" alt="restaurant8"
          width="336"
          height="309"> -->
    </picture>

    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-9-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-9-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />
      <!-- <img src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-9-1x-min.jpg" alt="restaurant9"
          width="336"
          height="309"> -->
    </picture>

    <picture>
      <source
        srcset="
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-10-1x-min.jpg 1x,
          ../img/page-home/restaurant’s-details/desktop/restaurant-desk-10-2x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />
      <!-- <img src="../img/page-home/restaurant’s-details/desktop/restaurant-desk-10-1x-min.jpg" alt="restaurant10"
          width="336"
          height="309"> -->
    </picture>
  </div>
  <div class="restaurant-button-wrapper">
    <button type="button" class="book-table-btn">book a table</button>
    <a href="./restaurant.html">View the menu</a>
  </div>
</section>
