<section class="welcome">
  <div class="container welcome-container">
    <div class="information">
      <h2 class="welcome-title">
        Welcome to the epitome of
        <span class="italic-style">luxury</span> and
        <span class="italic-style">comfort</span>
      </h2>
      <ul class="welcome-list">
        <li class="welcome-item">
          Our hotel rooms are elegantly designed with an eye for detail,
          ensuring that you have everything you need for a relaxing and
          rejuvenating stay.
        </li>
        <li class="welcome-item second">
          Each room is equipped with the latest amenities, including plush
          bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
          you start your day right. Our spacious bathrooms feature luxurious
          toiletries and towels, so you can pamper yourself in complete privacy.
        </li>
      </ul>
    </div>
    <div class="picture">
      <picture>
        <source
          srcset="
            ./img/page-home/welcome-complex/desktop/welcome-desk-1-1x-min.jpg 1x,
            ./img/page-home/welcome-complex/desktop/welcome-desk-1-2x-min.jpg 2x
          "
          width="672px"
          height="599px"
          media="(min-width:1440px)"
        />
        <source
          srcset="
            ./img/page-home/welcome-complex/tablet/welcome-tabl-1-1x-min.jpg 1x,
            ./img/page-home/welcome-complex/tablet/welcome-tabl-1-2x-min.jpg 2x
          "
          width="704px"
          height="599px"
          media="(min-width:768px)"
        />

        <img
          src="./img/page-home/welcome-complex/mobile/welcome-mob-1-1x-min.jpg"
          width="335px"
          height="432px"
          alt="complex"
          srcset="
            ./img/page-home/welcome-complex/mobile/welcome-mob-1-2x-min.jpg 2x
          "
        />
      </picture>
    </div>
  </div>
</section>
