<section class="double-luxury-room">
  <div class="container">
    <picture class="double-room-img">
      <source
        srcset="
          ./img/page-hotel/double-luxury-room/desktop/double-desk-2-1x-min.jpg 1x,
          ./img/page-hotel/double-luxury-room/desktop/double-desk-2-1x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />

      <source
        srcset="
          ./img/page-hotel/double-luxury-room/tablet/double-tabl-2-1x-min.jpg 1x,
          ./img/page-hotel/double-luxury-room/tablet/double-tabl-2-1x-min.jpg 2x
        "
        media="(min-width:768px)"
      />

      <img
        alt="room"
        src="./img/page-hotel/double-luxury-room/mobile/double-mob-2-1x-min.jpg"
        srcset="
          ./img/page-hotel/double-luxury-room/mobile/double-mob-2-2x-min.jpg 2x
        "
      />
    </picture>

    <picture class="">
      <source
        srcset="
          ./img/page-hotel/double-luxury-room/desktop/double-desk-1-1x-min.jpg 1x,
          ./img/page-hotel/double-luxury-room/desktop/double-desk-1-1x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />

      <source
        srcset="
          ./img/page-hotel/double-luxury-room/tablet/double-tabl-1-1x-min.jpg 1x,
          ./img/page-hotel/double-luxury-room/tablet/double-tabl-1-1x-min.jpg 2x
        "
        media="(min-width:768px)"
      />

      <img
        alt="room"
        src="./img/page-hotel/double-luxury-room/mobile/double-mob-1-1x-min.jpg"
        srcset="
          ./img/page-hotel/double-luxury-room/mobile/double-mob-1-2x-min.jpg 2x
        "
      />
    </picture>

    <picture class="double-room-img">
      <source
        srcset="
          ./img/page-hotel/double-luxury-room/desktop/double-desk-3-1x-min.jpg 1x,
          ./img/page-hotel/double-luxury-room/desktop/double-desk-3-1x-min.jpg 2x
        "
        media="(min-width:1440px)"
      />

      <source
        srcset="
          ./img/page-hotel/double-luxury-room/tablet/double-tabl-3-1x-min.jpg 1x,
          ./img/page-hotel/double-luxury-room/tablet/double-tabl-3-1x-min.jpg 2x
        "
        media="(min-width:768px)"
      />

      <img
        alt="room"
        src="./img/page-hotel/double-luxury-room/mobile/double-mob-3-1x-min.jpg"
        srcset="
          ./img/page-hotel/double-luxury-room/mobile/double-mob-3-2x-min.jpg 2x
        "
      />
    </picture>

    <h2 class="dbl title">DOUBLE LUXURY ROOM</h2>
    <button>MORE DEATAILS</button><button>VIEW PRICES</button>
    <ul class="dbl-about">
      <li class="dbl-about-txt">
        <p>
          Experience luxury in our Double Luxury Room at Mimino Hotel. This
          spacious room features a comfortable bed, private bathroom,
          flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
          curtains, and soundproofing ensure a peaceful night's sleep.
        </p>
      </li>
      <li class="dbl-about-txt">
        <p>
          after a busy day at the writing desk or armchair. Book now for a
          convenient and comfortable stay.
        </p>
      </li>
    </ul>
  </div>
</section>
