<section class="double-room">
  <div class="double-room-container container">
    <div class="double-room-images">
      <picture class="double-room-img-1">
        <source
            srcset="./img/page-hotel/double-luxury-room/desktop/double-desk-1-1x-min.jpg 1x, ./img/page-hotel/double-luxury-room/desktop/double-desk-1-2x-min.jpg 2x"
            media="(min-width: 1440px)">
        <source
            srcset="./img/page-hotel/double-luxury-room/tablet/double-tabl-1-1x-min.jpg 1x, ./img/page-hotel/double-luxury-room/tablet/double-tabl-1-2x-min.jpg 2x"
            media="(min-width: 768px)">
        <img src="./img/page-hotel/double-luxury-room/mobile/double-mob-1-1x-min.jpg" alt="hotel-hero-slider" srcset="./img/page-hotel/double-luxury-room/mobile/double-mob-1-1x-min.jpg 1x, ./img/page-hotel/double-luxury-room/mobile/double-mob-1-2x-min.jpg 2x">
      </picture>

      <picture class="double-room-img-2">
        <source
            srcset="./img/page-hotel/double-luxury-room/desktop/double-desk-2-1x-min.jpg 1x, ./img/page-hotel/double-luxury-room/desktop/double-desk-2-2x-min.jpg 2x"
            media="(min-width: 1440px)">
        <source
            srcset="./img/page-hotel/double-luxury-room/tablet/double-tabl-2-1x-min.jpg 1x, ./img/page-hotel/double-luxury-room/tablet/double-tabl-2-2x-min.jpg 2x"
            media="(min-width: 768px)">
        <img src="./img/page-hotel/double-luxury-room/mobile/double-mob-2-1x-min.jpg" alt="hotel-hero-slider" srcset="./img/page-hotel/double-luxury-room/mobile/double-mob-2-1x-min.jpg 1x, ./img/page-hotel/double-luxury-room/mobile/double-mob-2-2x-min.jpg 2x">
      </picture>

      <picture class="double-room-img-3">
        <source
            srcset="./img/page-hotel/double-luxury-room/desktop/double-desk-3-1x-min.jpg 1x, ./img/page-hotel/double-luxury-room/desktop/double-desk-3-2x-min.jpg 2x"
            media="(min-width: 1440px)">
        <source
            srcset="./img/page-hotel/double-luxury-room/tablet/double-tabl-3-1x-min.jpg 1x, ./img/page-hotel/double-luxury-room/tablet/double-tabl-3-2x-min.jpg 2x"
            media="(min-width: 768px)">
        <img src="./img/page-hotel/double-luxury-room/mobile/double-mob-3-1x-min.jpg" alt="hotel-hero-slider" srcset="./img/page-hotel/double-luxury-room/mobile/double-mob-3-1x-min.jpg 1x, ./img/page-hotel/double-luxury-room/mobile/double-mob-3-2x-min.jpg 2x">
      </picture>
    </div>

    <div class="double-room-text-wrap">
      <h2 class="hotel-rooms-title">Double Luxury Room</h2>
  
      <ul class="hotel-rooms-text-list list">
        <li class="hotel-rooms-text-item">
          <p>
            Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a comfortable bed, private bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure a peaceful night's sleep.
          </p>
        </li>
        <li class="hotel-rooms-text-item">
          <p>
            Relax after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.
          </p>
        </li>
      </ul>
    </div>
  
    <ul class="hotel-rooms-list-btns">
      <li class="hotel-rooms-item-btn">
          <button type="button" class="btn-modal room-btn js-open-modal" data-modal="book-room">More details</button>
      </li>
      <li class="hotel-rooms-item-btn">
          <button type="button" class="btn-modal prices-btn js-open-modal" data-modal="">View prices</button>
      </li>
    </ul>
  </div>
</section>
