<section>
   <div class="container"> 
    
<!-- <picture>
    <source
    srcset="./img/page-hotel/double-luxury-room/desktop/double-desk-1-1x-min.jpg 1x
    "
    media="(min-width:1440px)"
    />
</picture> -->


        <!-- <img src="./img/page-hotel/double-luxury-room/desktop/double-desk-1-1x-min.jpg" alt="hotel DBL">
        <img src="./img/page-hotel/double-luxury-room/desktop/double-desk-2-1x-min.jpg" alt="hotel DBL"> 
        <img src="./img/page-hotel/double-luxury-room/desktop/double-desk-3-1x-min.jpg" alt="hotel DBL"> -->


        <picture class="double-room-img">
            <source srcset="
              ./img/page-hotel/double-luxury-room/desktop/double-desk-1-1x-min.jpg 1x,
              ./img/page-hotel/double-luxury-room/desktop/double-desk-1-1x-min.jpg 2x "
              
              media="(min-width:1280px)" />

            <picture class="double-room-img">
                <source srcset="./img/page-hotel/double-luxury-room/tablet/double-tabl-1-1x-min.jpg 1x,
                               ./img/page-hotel/double-luxury-room/tablet/double-desk-1-1x-min.jpg 2x "
                  
                  media="(min-width:1024px)" />

                <picture class="double-room-img">
                    <source srcset="
                     ./img/page-hotel/double-luxury-room/mobile/double-mob-1-1x-min.jpg 1x
                      ./img/page-hotel/double-luxury-room/mobile/double-mob-1-2x-min.jpg 2x" 
                      media="(min-width:320px)" />
    

<picture class="double-room-img">
    <source srcset="
              ./img/page-hotel/double-luxury-room/desktop/double-desk-2-1x-min.jpg 1x,
              ./img/page-hotel/double-luxury-room/desktop/double-desk-2-2x-min.jpg 2x "
               media="(min-width:1280px)" />

    <picture class="double-room-img">
        <source srcset="./img/page-hotel/double-luxury-room/tablet/double-tabl-2-1x-min.jpg 1x,
                               ./img/page-hotel/double-luxury-room/tablet/double-desk-2-2x-min.jpg 2x "
            media="(min-width:1024px)" />

        <picture class="double-room-img">
            <source srcset="
                     ./img/page-hotel/double-luxury-room/mobile/double-mob-2-1x-min.jpg 1x
                      ./img/page-hotel/double-luxury-room/mobile/double-mob-2-2x-min.jpg 2x"
                media="(min-width:320px)" />


<picture class="double-room-img">
    <source srcset="
              ./img/page-hotel/double-luxury-room/desktop/double-desk-3-1x-min.jpg 1x,
              ./img/page-hotel/double-luxury-room/desktop/double-desk-3-2x-min.jpg 2x " media="(min-width:1280px)" />

    <picture class="double-room-img">
        <source srcset="./img/page-hotel/double-luxury-room/tablet/double-tabl-3-1x-min.jpg 1x,
                               ./img/page-hotel/double-luxury-room/tablet/double-desk-3-2x-min.jpg 2x "
            media="(min-width:1024px)" />

        <picture class="double-room-img">
            <source srcset="
                     ./img/page-hotel/double-luxury-room/mobile/double-mob-3-1x-min.jpg 1x
                      ./img/page-hotel/double-luxury-room/mobile/double-mob-3-2x-min.jpg 2x"
                media="(min-width:320px)" />


    </div>
    <div class="room-title">
<h2 class="dbl title">DOUBLE LUXURY ROOM</h2><button>MORE DEATAILS</button><button>VIEW PRICES</button>
<ul class="dbl-about">
    <li class="dbl-about-txt">
        <a>Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room features a comfortable bed, private
    bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure a peaceful
    night's sleep.</a>
</li>
    <li class="dbl-about-txt">
       <a>after a busy day at the writing desk or armchair. Book now for a convenient and comfortable stay.</a>
</li>
   
</ul>

    </div>
</section>  