<section class="four-seater-room">
  <div class="four-seater-room-container container">
    <div class="four-seater-room-images">
      <picture class="four-seater-room-img-1">
        <source
          srcset="
            ./img/page-hotel/four-seater-room/desktop/four-desk-1-1x-min.jpg 1x,
            ./img/page-hotel/four-seater-room/desktop/four-desk-1-2x-min.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/page-hotel/four-seater-room/tablet/four-tabl-1-1x-min.jpg 1x,
            ./img/page-hotel/four-seater-room/tablet/four-tabl-1-2x-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="./img/page-hotel/four-seater-room/mobile/four-mob-1-1x-min.jpg"
          alt="hotel-hero-slider"
          srcset="
            ./img/page-hotel/four-seater-room/mobile/four-mob-1-1x-min.jpg 1x,
            ./img/page-hotel/four-seater-room/mobile/four-mob-1-2x-min.jpg 2x
          "
        />
      </picture>

      <picture class="four-seater-room-img-2">
        <source
          srcset="
            ./img/page-hotel/four-seater-room/desktop/four-desk-2-1x-min.jpg 1x,
            ./img/page-hotel/four-seater-room/desktop/four-desk-2-2x-min.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/page-hotel/four-seater-room/tablet/four-tabl-2-1x-min.jpg 1x,
            ./img/page-hotel/four-seater-room/tablet/four-tabl-2-2x-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="./img/page-hotel/four-seater-room/mobile/four-mob-2-1x-min.jpg"
          alt="hotel-hero-slider"
          srcset="
            ./img/page-hotel/four-seater-room/mobile/four-mob-2-1x-min.jpg 1x,
            ./img/page-hotel/four-seater-room/mobile/four-mob-2-2x-min.jpg 2x
          "
        />
      </picture>

      <picture class="four-seater-room-img-3">
        <source
          srcset="
            ./img/page-hotel/four-seater-room/desktop/four-desk-3-1x-min.jpg 1x,
            ./img/page-hotel/four-seater-room/desktop/four-desk-3-2x-min.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/page-hotel/four-seater-room/tablet/four-tabl-3-1x-min.jpg 1x,
            ./img/page-hotel/four-seater-room/tablet/four-tabl-3-2x-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="./img/page-hotel/four-seater-room/mobile/four-mob-3-1x-min.jpg"
          alt="hotel-hero-slider"
          srcset="
            ./img/page-hotel/four-seater-room/mobile/four-mob-3-1x-min.jpg 1x,
            ./img/page-hotel/four-seater-room/mobile/four-mob-3-2x-min.jpg 2x
          "
        />
      </picture>
    </div>

    <h2 class="hotel-rooms-title">Four-seater room</h2>

    <p class="four-seater-room-text">
      Our 4-person room is perfect for small groups, offering comfort and
      convenience with 4 comfortable beds, ample storage, flat-screen TV,
      mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and
      soundproof walls. Book now for a memorable stay.
    </p>

    <ul class="four-seater-room-list-btns">
      <li class="four-seater-room-item-btn">
        <a href="./room.html" class="btn-modal room-btn button dark-bg-btn">
          More details
        </a>
      </li>
      <li class="four-seater-room-item-btn">
        <button
          type="button"
          class="btn-modal prices-btn button dark-bg-btn js-open-modal"
          data-modal="view-prices"
        >
          View prices
        </button>
      </li>
    </ul>
  </div>
</section>
