<section>
    <div>
<img alt="hotel-fsr" src="./img/page-hotel/four-seater-room/desktop/four-desk-1-1x-min.jpg">
<img alt="hotel-fsr" src="./img/page-hotel/four-seater-room/desktop/four-desk-2-1x-min.jpg">
<img alt="hotel-fsr" src="./img/page-hotel/four-seater-room/desktop/four-desk-3-1x-min.jpg">

    </div>
<div class="room-title">
    <button>MORE DEATAILS</button><button>VIEW PRICES</button><h2 class="fsr-title">TRIPLE ROOM</h2>
    <ul class="fsr-about">
        <li class="fsr-about-txt">
            <a>Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area,
            stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</a>
        </li>
        <li class="fsr-about-txt">
            <a>Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</a>
        </li>

    </ul>

</div>
    

</section>