<section class="hotel-hero " id="hotel-hero">

    <div class="container-hotel-hero container">
        <h1 class="hotel-hero-title">Hotel</h1>
        <div class="hotel-hero-wrap">
            <ul class="hotel-hero-list-btns ">
                <li class="hotel-hero-item-btn">
                    <button type="button" class="btn-modal room-btn">Book a room</button>
                </li>
                <li class="hotel-hero-item-btn">
                    <button type="button" class="btn-modal prices-btn">View prices</button>
                </li>
            </ul>

            <div>
                <div>
                    <picture>
                        <source
                            srcset="./img/page-hotel/hero-slider/desktop/hero-desk-1-1x-min.jpg 1x, ./img/page-hotel/hero-slider/desktop/hero-desk-1-2x-min.jpg 2x"
                            media="(min-width: 1440px)">
                        <source
                            srcset="./img/page-hotel/hero-slider/tablet/hero-tabl-1-1x-min.jpg 1x, ./img/page-hotel/hero-slider/tablet/hero-tabl-1-2x-min.jpg 2x"
                            media="(min-width: 768px)">
                        <img src="./img/page-hotel/hero-slider/mobile/hero-mob-1-1x-min.jpg" alt="hotel-hero-slider" srcset="./img/page-hotel/hero-slider/mobile/hero-mob-1-1x-min.jpg 1x, ./img/page-hotel/hero-slider/mobile/hero-mob-1-2x-min.jpg 2x">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source
                            srcset="./img/page-hotel/hero-slider/desktop/hero-desk-2-1x-min.jpg 1x, ./img/page-hotel/hero-slider/desktop/hero-desk-2-2x-min.jpg 2x"
                            media="(min-width: 1440px)">
                        <source
                            srcset="./img/page-hotel/hero-slider/tablet/hero-tabl-2-1x-min.jpg 1x, ./img/page-hotel/hero-slider/tablet/hero-tabl-2-2x-min.jpg 2x"
                            media="(min-width: 768px)">
                        <img src="./img/page-hotel/hero-slider/mobile/hero-mob-2-1x-min.jpg" alt="hotel-hero-slider"
                            srcset="./img/page-hotel/hero-slider/mobile/hero-mob-2-1x-min.jpg 1x, ./img/page-hotel/hero-slider/mobile/hero-mob-2-2x-min.jpg 2x">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source
                            srcset="./img/page-hotel/hero-slider/desktop/hero-desk-3-1x-min.jpg 1x, ./img/page-hotel/hero-slider/desktop/hero-desk-3-2x-min.jpg 2x"
                            media="(min-width: 1440px)">
                        <source
                            srcset="./img/page-hotel/hero-slider/tablet/hero-tabl-3-1x-min.jpg 1x, ./img/page-hotel/hero-slider/tablet/hero-tabl-3-2x-min.jpg 2x"
                            media="(min-width: 768px)">
                        <img src="./img/page-hotel/hero-slider/mobile/hero-mob-3-1x-min.jpg" alt="hotel-hero-slider"
                            srcset="./img/page-hotel/hero-slider/mobile/hero-mob-3-1x-min.jpg 1x, ./img/page-hotel/hero-slider/mobile/hero-mob-3-2x-min.jpg 2x">
                    </picture>
                </div>
            </div>
            
            <div class="hotel-hero-list-desc">
                <p class="hotel-hero-desc">
                    Whether you're in the mood for a hearty breakfast, a light lunch, or a
                    romantic dinner, our menu has something for everyone.
                </p>
            </div>
        </div>
    </div>

</section>
