<section class="triple-room">
    <div class="triple-room-container container">
        <div class="triple-room-images">
        <picture class="triple-room-img-1">
            <source
                srcset="./img/page-hotel/triple-room/desktop/triple-desk-1-1x-min.jpg 1x, ./img/page-hotel/triple-room/desktop/triple-desk-1-2x-min.jpg 2x"
                media="(min-width: 1440px)">
            <source
                srcset="./img/page-hotel/triple-room/tablet/triple-tabl-1-1x-min.jpg 1x, ./img/page-hotel/triple-room/tablet/triple-tabl-1-2x-min.jpg 2x"
                media="(min-width: 768px)">
            <img src="./img/page-hotel/triple-room/mobile/triple-mob-1-1x-min.jpg" alt="hotel-hero-slider" srcset="./img/page-hotel/triple-room/mobile/triple-mob-1-1x-min.jpg 1x, ./img/page-hotel/triple-room/mobile/triple-mob-1-2x-min.jpg 2x">
        </picture>

        <picture class="triple-room-img-2">
            <source
                srcset="./img/page-hotel/triple-room/desktop/triple-desk-2-1x-min.jpg 1x, ./img/page-hotel/triple-room/desktop/triple-desk-2-2x-min.jpg 2x"
                media="(min-width: 1440px)">
            <source
                srcset="./img/page-hotel/triple-room/tablet/triple-tabl-2-1x-min.jpg 1x, ./img/page-hotel/triple-room/tablet/triple-tabl-2-2x-min.jpg 2x"
                media="(min-width: 768px)">
            <img src="./img/page-hotel/triple-room/mobile/triple-mob-2-1x-min.jpg" alt="hotel-hero-slider" srcset="./img/page-hotel/triple-room/mobile/triple-mob-2-1x-min.jpg 1x, ./img/page-hotel/triple-room/mobile/triple-mob-2-2x-min.jpg 2x">
        </picture>

        <picture class="triple-room-img-3">
            <source
                srcset="./img/page-hotel/triple-room/desktop/triple-desk-3-1x-min.jpg 1x, ./img/page-hotel/triple-room/desktop/triple-desk-3-2x-min.jpg 2x"
                media="(min-width: 1440px)">
            <source
                srcset="./img/page-hotel/triple-room/tablet/triple-tabl-3-1x-min.jpg 1x, ./img/page-hotel/triple-room/tablet/triple-tabl-3-2x-min.jpg 2x"
                media="(min-width: 768px)">
            <img src="./img/page-hotel/triple-room/mobile/triple-mob-3-1x-min.jpg" alt="hotel-hero-slider" srcset="./img/page-hotel/triple-room/mobile/triple-mob-3-1x-min.jpg 1x, ./img/page-hotel/triple-room/mobile/triple-mob-3-2x-min.jpg 2x">
        </picture>

        </div>

        <div class="triple-room-wrap">
            <div class="triple-room-text-wrap">
                <h2 class="hotel-rooms-title">Triple Room</h2>
        
                <ul class="triple-room-text-list list">
                    <li class="triple-room-text-item">
                        <p>
                            Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.
                        </p>
                    </li>
                    <li class="triple-room-text-item">
                        <p>
                            Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.
                        </p>
                    </li>
                </ul>
            </div>


            <ul class="triple-room-list-btns ">
                <li class="triple-room-item-btn">
                    <button type="button" class="btn-modal room-btn">More details</button>
                </li>
                <li class="triple-room-item-btn">
                    <button type="button" class="btn-modal prices-btn js-open-modal" data-modal="view-prices">View prices</button>
                </li>
            </ul>
        </div>
        
    </div>
</section>